@import url("check_top.css");
body{*position:relative!important; _position:relative; background:#FFF;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed} 

.show{width:1000px; margin:14px auto 0px auto; background:#FFF; border-top:2px solid #FFF; padding:0px 0 10px 0;}
.show .show_title_bg{width:1000px; margin:0px auto 0 auto; background:url(../images/show_detail_bg.png) repeat-x left top; height:53px;}
.show .show_title_bg .show_title{padding-left:10px; font-size:16px; font-family:"宋体"; font-weight:bold; line-height:24px; background:url(../images/show_detail_ico.png) no-repeat left top; height:53px;}

.show .box{width:488px; float:left;}
.show .box .show_big_title{height:40px; padding-top:4px; line-height:30px; font-size:14px; font-family:"宋体"; font-weight:bold;}
.show .box .show_big_title strong{font-size:24px; font-family:"微软雅黑","宋体"; color:#e60017; display:inline-block; padding-right:5px; font-weight:normal;}
.show .box .table_box{background:#f8f8f8; width:486px; padding:10px 0; overflow-y:scroll;}
.show .box .table_box .left{float: left;padding: 0 5px 0 5px;text-align:center;}

.show .box_long{width:1000px; margin:0px auto;}/*padding:10px 0;*/
.show .box_long .table_box{background:#f8f8f8; width:1000px; overflow:auto;}
.show .box_long .table_box .left{float: left;text-align:center;}
.show .box_long .table_box .left a{display:inline-block; background:url(../images/view_btn.png) no-repeat left top;color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .box_long .table_box .left a:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .box_long .table_box .left a.robots{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .box_long .table_box .left a.robots:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .box_long .table_box .left a.big{display:inline-block; background:url(../images/view_import.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:107px;}
.show .box_long .table_box .left a.big:hover{background:url(../images/view_import.png) no-repeat left bottom;}

.show .dashed{clear:both; border-top:1px dashed #e7e7e7; background:#f8f8f8; border-bottom:1px dashed #e7e7e7; background:#f8f8f8; text-align:center; padding:15px 0;}
.show .dashed a{display:inline-block; background:url(../images/view_btn.png) no-repeat left top;color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.robots{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a.robots:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.big{display:inline-block; background:url(../images/view_import.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:107px;}
.show .dashed a.big:hover{background:url(../images/view_import.png) no-repeat left bottom;}