@import url("top.css");
body{font-family:"宋体";}
.show{width:1000px; margin:14px auto 0px auto; background:#FFF; border-top:2px solid #FFF;}
.show .show_title_bg{width:936px; margin:26px auto 0 auto; background:url(../images/show_detail_bg.png) repeat-x left top; height:53px;}
.show .show_title_bg .show_title{padding-left:12px; font-size:16px; font-family:"宋体"; font-weight:bold; line-height:24px; background:url(../images/show_detail_ico.png) no-repeat left top; height:53px;}
.show .show_title_bg .show_title a{float:right; font-size:12px; font-weight:normal; text-align:center; margin-right:3px; background:url(../images/view_btn.png) no-repeat left top; height:26px; line-height:26px; width:77px; color:#FFF;}
.show .show_title_bg .show_title a:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .div_float{float:left; height:37px; padding-top:7px;}
.show .div_float_ie6{_padding-top:12px; *padding-top:12px!important;}
.show .div_float select{height:28px; line-height:28px; border:1px solid #dcdcdc; width:154px;}
.show a.read{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; width:77px; height:26px; line-height:26px; color:#FFF; text-align:center;}
.show a.read:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .card{width:1000px; margin:0 auto; background:#FFF; padding-bottom:30px;}
.show .card .border{border:1px solid #e7e7e7; padding:37px 0; background:#f8f8f8; width:936px; margin:10px auto 15px auto;}
.show .addr {line-height:22px; text-align:left; padding-top:6px;}
.show .bg_f {background:url(../images/card_front.png) no-repeat left top;}
.show .bg_r {background:url(../images/card_reverse.png) no-repeat left top;}
.show .img {padding:12px 0 0 11px;}
.auto{margin:0 auto;}
.auto_table{border-collapse:separate; border-spacing:1px;}
.auto_tbale tr td{padding:6px 0;}
.copyright{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; height:36px; line-height:36px;}