@import url("check_top.css");
body{*position:relative!important; _position:relative; background:#FFF;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed} 


.show{width:1000px; margin:14px auto 0px auto; background:#FFF; border-top:2px solid #FFF; padding:0px 0 10px 0;}
.show .show_title_bg{width:1000px; margin:0px auto 0 auto; background:url(../images/show_detail_bg.png) repeat-x left top; height:53px;}
.show .show_title_bg .show_title{padding-left:12px; font-size:16px; font-family:"宋体"; font-weight:bold; line-height:24px; background:url(../images/show_detail_ico.png) no-repeat left top; height:53px;}
.show .show_title_bg .show_title span.crumb{float:right; font-size:12px; font-weight:normal; text-align:center; margin-right:3px;  height:26px; line-height:26px; text-align:right;}
.show .show_title_bg .show_title span.red{color:#e60017; font-size:12px; font-weight:normal; display:inline-block; padding-left:38px;}

.show .box{width:488px; float:left;}
.show .box_margin_right{padding-right:24px;}
.show .box_long{width:1000px; margin:0px auto; padding:10px 0;}

.show .box .show_big_title{height:40px; padding-top:4px; line-height:30px; font-size:14px; font-family:"宋体"; font-weight:bold;}
.show .box .show_big_title strong{font-size:24px; font-family:"微软雅黑","宋体"; color:#e60017; display:inline-block; padding-right:5px; font-weight:normal;}
.show .box .table_box{border:1px solid #e7e7e7; background:#f8f8f8; width:486px; padding:10px 0; overflow-y:scroll;}
.show .box_long .table_box{border:1px solid #e7e7e7; background:#f8f8f8; width:1000px; overflow:auto;}

.show .dashed{clear:both; border-top:1px dashed #e7e7e7; background:#f8f8f8; border-bottom:1px dashed #e7e7e7; background:#f8f8f8; text-align:center; padding:15px 0;}
.show .dashed a{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.robots{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a.robots:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.big{display:inline-block; background:url(../images/view_import.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:107px;}
.show .dashed a.big:hover{background:url(../images/view_import.png) no-repeat left bottom;}
.show .total{font-size:16px;}
.show .box .table_box_none{background:#FFF; width:486px;}
.show .box .table_box_none .sel{width:370px; background:#f8f8f8; border:1px solid #e7e7e7; height:20px; color:#999;}
.show .date{width:200px; padding-left:4px; background:#FFF url(../images/ico_date.jpg) no-repeat right center; border:1px solid #e7e7e7; height:24px;}
.show .box .table_box_none .input_click{width:342px; padding-left:6px;  border:1px solid #e7e7e7; border-right:0px; height:20px;background-size:16px 16px;background-color:#f8f8f8;position:relative;float:right;}
.show .box .table_box_none .input_click_delete{display:block;width:20px;height:22px; float:right; background:#FFF url(../images/delete.png) no-repeat center center;background-color:#f8f8f8; border:1px solid #e7e7e7; border-left:0px; background-size:20px 20px; position:relative;cursor:pointer;}

.show .list{width:1000px; margin:0 auto; height:330px; overflow-x:scroll; position:relative;}
#float_div{position:absolute; top:0; right:0; width:100px;}

a.robots{display:inline-block; background:url(../images/view_small.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:20px; line-height:20px; width:57px;}
a.robots:hover{background:url(../images/view_small.png) no-repeat left bottom;}
.audit_a a{background:#E60017;color:#FFF; padding:10px;margin:0 5px;}

.pages{height:40px; line-height:40px; text-align:center; margin:0 auto; width:1000px; padding-top:15px;}
.pages .pages_l{float:left;}
.pages .pages_l a.del_final{background:url(../images/btn_accept.png) left top no-repeat; width:97px; height:30px; line-height:30px; display:inline-block; text-align:center; color:#FFF;}
.pages .pages_l a.del_final:hover{background:url(../images/btn_accept.png) left bottom no-repeat;}

.pages .pages_l a.big{display:inline-block; background:url(../images/view_import.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:107px;}
.pages .pages_l a:hover{background:url(../images/view_import.png) no-repeat left bottom;}
#audit_note{height:24px;margin-top:10px;margin-left:5px;}
.pages .pages_r{float:right; text-align:right;}
.pages .pages_r ul{height:24px; line-height:24px; border:1px solid #dedddd; background:#f2f1f1; border-right:0; float:right;}
.pages .pages_r ul li{border-right:1px solid #dedddd; text-align:center; text-indent:0; float:left;}
.pages .pages_r ul li a{display:inline-block; padding:0 8px; height:24px; line-height:24px;}
.pages .pages_r ul li a:hover{background:#e60017; color:#FFF;}
.pages .pages_r ul li a.current{background:#e60017; color:#FFF;}




.show a.login{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; width:77px; height:26px; line-height:26px; color:#FFF; text-align:center;}
.show a.login:hover{background:url(../images/view_btn.png) no-repeat left bottom;}

.copyright{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; height:36px; line-height:36px; border-top:2px solid #e60017;}

.cover{ position:fixed; width:100%; height:100%; top:0px; left:0px; background-color:rgba(0,0,0,0.2); display:block; z-index:100;}
* html .cover{position:absolute;left:expression(eval(document.documentElement.scrollLeft)); width:expression(eval(document.documentElement.clientWidth));height:expression(eval(document.documentElement.clientHeight));top:expression(eval(document.documentElement.scrollTop));opacity:0.30;filter:alpha(opacity=30);background-color:#000; z-index:100;} 


.show-select{ display:block; width:1000px; height:508px; position:fixed; top:50%; left:50%; margin-top:-254px; margin-left:-500px; background-color:#fff; z-index:9999; z-index:9999;}
* html .show-select{position:absolute;left:expression(eval((document.documentElement.clientWidth-document.documentElement.scrollLeft)/2));top:expression(eval((document.documentElement.clientHeight/2+document.documentElement.scrollTop))); z-index:9999;} 


.icon-close{ display:block; width:26px; height:26px; background:url(../images/icon_close.png) no-repeat center; float:right;}
.select-title{ display:block; width:936px; margin:0px auto; line-height:44px; padding-top:10px; font-size:14px; font-weight:bold; border-bottom:1px solid #d9d9d9;}
.search-input{ width:936px; height:56px; padding:0px 32px;}
.search-input div{ float:left; margin:14px 0px;}
.search-input a{ width:80px; height:28px; line-height:28px; background-color:#e60017; color:#fff; text-align:center; display:block; float:left; margin:14px 5px;}
.leble{ width:72px; line-height:28px;}
a.audit_leble{ width:30px; line-height:30px;margin:0 5px;background-color:#e60017; color:#fff; font-size:22px}
.branch-code{ width:180px; height:24px; margin-right:24px; padding:0px; }
.branch-name{ width:390px; height:24px; padding:0px;}
.select-table{ width:936px; margin:0px auto;}
.show-select .pages{ width:936px;}
