@charset "utf-8";
/* CSS Document v1.0 */

/* 内容信息 */
.directory_area{width:24%; min-height:300px; max-height:600px; margin-left:15px; padding:10px 5px; border:1px solid #cccccc; background-color:white; display:inline-block; vertical-align:top; overflow:auto;}
.content_area{width:68%; min-height:300px; max-height:600px; margin-left:5px; padding:10px; border:1px solid #cccccc; background-color:white; display:inline-block; vertical-align:top;}
.content_area .dept_info .dept_row{padding-top:5px;}
.content_area .dept_info .dept_row .dept_column{width:48%; line-height:26px; display:inline-block;}
.content_area .oper_info{padding-top:10px;}
.content_area .oper_info .oper_table{width:100%; margin:0 auto;}
.content_area .oper_info .oper_table th{height:28px; border:1px #cccccc solid; background-color:#e6e6e6;}
.content_area .oper_info .oper_table td{height:28px; border:1px #cccccc solid; background-color:white; padding-left:5px;}

/* 显示 */
.inline{display:inline;}
.inline_block{display:inline-block;}
