@import url("share.css");
body{background:#FFF;}
select,input{color:#888;}
.sale_header{background:#FFF; width:1000px; margin:0 auto;}
.sale_header .sale_logo{width:321px; float:left;}
.sale_header .sale_header_right{float:right; padding-top:43px; padding-right:12px;}
.sale_nav_bg{clear:both; background:url(../images/sale_nav_bg.jpg) left top; height:3px; overflow:hidden;}

.content{background:url(../images/sale_body_bg.png) repeat-x left top; min-height:200px; padding-top:80px;}
.content .error{width:600px; margin:0 auto; padding-left:400px; background:url(../images/error.png) 50px 20px no-repeat;}
.content .error .yellow{color:#F60; font-size:30px; font-weight:bold; height:80px; line-height:80px; padding-top:10px;}
.content .error .check{height:40px; line-height:40px; font-size:14px;}
.content .error .reason{color: #FF0000; font-size: 14px; font-weight: bold; line-height: 30px;}
.content .error .back{height:40px; line-height:40px; font-size:14px;}
.content .error .back strong{color:#F00;}
.content .error .back a{color:#36c; font-weight:bold;}
.content .error .back a:hover{color:#F60;}