@import url("top.css");
body{*position:relative!important; _position:relative;}
.select{height:44px; line-height:44px; background:#FFF; border-bottom:1px solid #d0d0d0;}
.select .select_list{width:1000px; margin:0 auto;}
.select .select_list .div_float{float:left; height:37px; padding-top:7px; margin-right:5px; *margin-right:2px!important; _margin-right:2px;}
.select .select_list .div_float_ie6{_padding-top:12px;}
.select .select_list .div_float_none{margin-right:0;}
.select .select_list .div_float select{height:28px; line-height:28px; border:1px solid #dcdcdc;}
.select .select_list .div_float .time{width:126px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px;}
.select .select_list .div_float .order{width:81px;}
.select .select_list .div_float .type{width:81px;}
.select .select_list .div_float .receive{width:101px;}


#order_sub_type{width:81px;}
#order_processing_status{width:81px;}
#receive{width:101px;}
#end_time{width:120px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; *text-indent:3px!important; _text-indent:3px;}
#end_time:hover {
	-moz-transition: box-shadow linear 0.0s;
	-ms-transition: box-shadow linear 0.0s;
	-o-transition: box-shadow linear 0.0s;
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}
.select .select_list .div_float dl{}
.select .select_list .div_float dl dt{float:left; height:28px; line-height:28px; padding-right:5px; *padding-right:2px!important; _padding-right:2px;}
.select .select_list .div_float dl dd{float:left; height:28px; line-height:28px; padding-right:5px; *padding-right:2px!important; _padding-right:2px;}
.select .select_list .div_float dl dd.none{padding-right:0;}
.select .select_list .div_float dl dd input.tel{width:158px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; *text-indent:3px!important; _text-indent:3px;}
.select .select_list .div_float dl dd input.name{width:130px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; *text-indent:3px!important; _text-indent:3px;}
.select .select_list .div_float dl dd input.order{width:164px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; *text-indent:3px!important; _text-indent:3px;}
.select .select_list .div_float dl dd a.search{display:block; background:url(../images/search.png) no-repeat left top; padding-left:32px; padding-top:6px; width:35px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";}
.select .select_list .div_float dl dd a.search:hover{background:url(../images/search.png) no-repeat left bottom;}
.list{width:1000px; margin:14px auto 0 auto; background:#FFF;}
.list .list_table{padding-bottom:14px; background:#e8e8e8;}
.list .list_table table{background:#FFF;}
.list td.dashed{border-right:1px dashed #dcdcdc;}
.list td .open{height:89px; width:90px; background:url(../images/open_ico.png) no-repeat left top;}
.list td .open a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list td .change{height:89px; width:90px; background:url(../images/change_ico.png) no-repeat left top;}
.list td .change a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list td .charge{height:89px; width:90px; background:url(../images/charge_ico.png) no-repeat left top;}
.list td .charge a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list td .archives{height:89px; width:90px; background:url(../images/archives_ico.png) no-repeat left top;}
.list td .archives a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list td .complain{height:89px; width:90px; background:url(../images/complain_ico.png) no-repeat left top;}
.list td .complain a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list td .wo{height:89px; width:90px; background:url(../images/wo_ico.png) no-repeat left top;}
.list td .wo a{display:block; padding-top:55px; height:44px; line-height:24px; font-size:14px; font-weight:bold; text-align:center; color:#FFF;}

.list .list_table table tr td .no_{line-height:28px; padding:10px 0 0 10px; font-size:14px;}
.list .list_table table tr td .no_ .red{color:#e60017; font-size:24px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.list .list_table table tr td a.cancel{color:#005ea7;}
.list .list_table table tr td a.delay{color:#005ea7;}
.list .list_table table tr td a.view{color:#e60017;}
.list .list_table table tr td a.arrow{display:inline-block; padding-right:16px; background:url(../images/arrow.png) no-repeat right center; _background:url(../images/arrow_white.png) no-repeat right center; position:relative;}
.list .list_table table tr td a.arrow:hover{color:#e60017;}
.list .list_table table tr td a.arrow .tip_box{position:absolute; top:20px; left:-303px; z-index:101;}
.list .list_table table tr td a.arrow .tip_none{display:none;}
.list .list_table table tr td a.arrow .tip_box .tip_box_top{background:url(../images/tip_box_top.png) no-repeat; _background:url(../images/tip_box_top.gif) no-repeat; height:26px; width:558px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg{background:url(../images/tip_box_bg.png) left top; _background:url(../images/tip_box_bg.gif) left top; width:522px; padding:40px 0 0 36px; min-height:80px; *padding:8px 0 0 36px!important; *min-height:46px!important; _padding:18px 0 0 36px; _min-height:56px; position:relative; z-index:101;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .close{background:url(../images/tip_close.png) no-repeat left top; height:22px; width:22px; 

position:absolute; top:-8px; right:10px; cursor:pointer;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg table tr td{font-size:12px; color:#333;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg table tr td.first{text-indent:55px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .progress_1{height:22px; background:url(../images/progress.png) no-repeat left top;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .progress_2{background:url(../images/progress.png) no-repeat left -23px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .progress_3{background:url(../images/progress.png) no-repeat left -46px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .progress_4{background:url(../images/progress.png) no-repeat left -69px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .progress_5{background:url(../images/progress.png) no-repeat left -92px;}


.list .list_table table tr td a.arrow .tip_box .tip_box_bg .pro_five_1{height:22px; background:url(../images/pro_five.png) no-repeat left top;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .pro_five_2{background:url(../images/pro_five.png) no-repeat left -23px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .pro_five_3{background:url(../images/pro_five.png) no-repeat left -46px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .pro_five_4{background:url(../images/pro_five.png) no-repeat left -69px;}
.list .list_table table tr td a.arrow .tip_box .tip_box_bg .pro_five_5{background:url(../images/pro_five.png) no-repeat left -92px;}


.list .list_table table tr td a.arrow .tip_box .tip_box_bottom{background:url(../images/tip_box_bottom.png) no-repeat;_background:url(../images/tip_box_bottom.gif) no-repeat; height:13px; width:558px; overflow:hidden;}

.copyright{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; height:36px; line-height:36px; border-top:1px solid #d0d0d0;}

.msgbox{width:322px; padding:20px; min-height:204px; background:#FFF; position:relative;}
.msgbox .msgbox_close{height:20px; width:20px; position:absolute; right:5px; top:5px; background:url(../images/tip_close.png) no-repeat left top;}
.msgbox .serial{height:50px; line-height:50px; font-weight:bold; font-size:14px; color:#e60017; border-bottom:1px solid #CCC;}
.msgbox dl{padding-top:16px;}
.msgbox dl dt{float:left; width:156px; height:35px; line-height:35px; color:#000; font-size:14px;}
.msgbox dl dd{float:left; width:166px;}
.msgbox dl dd input{width:162px; height:35px; line-height:34px; background:#e5e5e5; border:0;}
.msgbox .intro{line-height:50px; clear:both; color:#8f8f8f;}
.msgbox .msgbox_ok{border-top:1px solid #ccc; _padding-top:12px;}
.msgbox .msgbox_ok a{display:block; text-align:center; color:#FFF; font-weight:bold; font-size:14px; background:url(../images/msgbox_ok.png) no-repeat left top; width:140px; height:40px; line-height:40px; margin:12px auto 0 auto;}
.msgbox .msgbox_ok a:hover{background:url(../images/msgbox_ok.png) no-repeat left bottom;}

