@charset "utf-8";
/* CSS Document pre_accept.css v1.0	*/

/* 用户资料 2015-6-23 lgw */
.card_bg_front {background:url(../images/card_front.png) no-repeat left top;}
.card_bg_reverse {background:url(../images/card_reverse.png) no-repeat left top;}
.card_addr {line-height:22px; text-align:left; padding-top:6px;}
.card_img {padding:12px 0 0 11px;}

/* 手机 */
.band_phone{border-top:1px solid #e60017; background:#fff7cc;  border-bottom:1px solid #e7e7e7; text-align:center; margin-top:-1px; margin:0 auto; width:846px; padding:16px 0px 16px 90px; }

/* USIM卡 */
.select_down{border:1px solid #d9d9d9; width:200px;  height:28px; line-height:28px;  text-indent:3px;  _text-indent:0px;margin-right:4px;}

/* 费用 */
.menu { position:relative;} 
.menu imag{display:none;} 
.menu:hover img{ display:block;position:absolute;position:absolute;left:0px;top:21px;}
/* 费用的弹出窗口查询按钮 */
.band_phone_small{text-align:center; margin:0 auto; width:100%; clear:both;border-top:1px solid #e60017; background:#fff7cc;  border-bottom:1px solid #e7e7e7; text-align:center; padding:10px 0px; *padding-left:110px; }
.band_phone_small_23to4{text-align:center; margin:0 auto; width:100%; clear:both;border-top:1px solid #e60017;  border-bottom:1px solid #e7e7e7; text-align:center; padding:10px 0px; *padding-left:110px; }
.search_input_small{ float:none; padding-left:20px; _float:left; *float:left;  margin-right:4px; border:1px solid #e60017; height:26px; background:url(../images/search.jpg) no-repeat left center; background-color:#FFF;}

/*  号码  */
/** 号码搜索 **/
.select{height:44px; line-height:44px; background:#FFF; border-bottom:1px solid #d0d0d0;}
.select .select_list{width:936px; margin:0 auto;}
.select .select_list .div_float{float:left; height:44px; line-height:44px; min-height:44px; padding-top:px; margin-right:5px; *margin-right:2px!important; _margin-right:2px;}
.select .select_list .div_float_ie6{padding-top:8px; *padding-top:2px!important; _padding-top:12px;}
.select .select_list .div_float_none{margin-right:2px;padding-top:8px; }
.select .select_list .div_float select{ min-width:60px; min-height:30px;  height:30px; line-height:30px;_height:30px; border:1px solid #dcdcdc;}
.select .select_list .div_float a.g{display:inline-block; width:52px; height:28px; line-height:28px; border:1px solid #CCC; background:url(../images/g_bg.png) repeat-x left top; text-align:center; color:#333; font-weight:bold; margin-right:5px; _margin-right:2px;}
.select .select_list .div_float a.g_current{color:#FFF; background:#ec0018; border:1px solid #ec0018;}
.select .select_list .div_float a.g:hover{color:#FFF; background:#ec0018; border:1px solid #ec0018;}
.select .select_list .div_float dl{}
.select .select_list .div_float dl dt{float:left; height:28px; text-align:right; width:151px; line-height:28px; padding-right:5px; _padding-right:2px;}
.select .select_list .div_float dl dd{float:left; height:28px; line-height:28px; padding-right:5px; _padding-right:5px;}
.select .select_list .div_float dl dd.none{padding-right:0;padding-top:0px;}
.select .select_list .div_float dl dd input.tel{width:180px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; _text-indent:3px;}
.select .select_list .div_float dl dd a.search{display:block; background:url(../images/search.png) no-repeat left top; padding-left:32px; padding-top:6px; width:35px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";}
.select .select_list .div_float dl dd a.search:hover{background:url(../images/search.png) no-repeat left bottom;}
/** 号码列表 **/
.wrap{width:936px; margin:0px auto 0px auto; background:#FFF;  padding:5px 0 0 0;}
.wrap .wrap_line{ width:185px; float:left;margin:0px 1px 0px 1px; _margin:0 0px 0px 0; }
.wrap .none{border-right:0;}
.wrap .wrap_line a.code{float:left; width:185px; height:61px; border:1px solid #dedede; position:relative; overflow:hidden;}
.wrap .wrap_line a.code_gray{border:2px solid #c0c0c0; color:#333; width:183px; height:59px;}
.wrap .wrap_line a.selected{background:#FFF url(../images/stroe_selected.png) right bottom no-repeat; border:2px solid #ec0018; color:#333; width:183px; height:59px;}
.wrap .wrap_line a.code .join{position:absolute; top:0; right:0; _right:-1px; height:61px; line-height:61px; color:#FFF; text-align:center; font-size:12px; font-weight:bold; width:66px; background:#ec0018; cursor:pointer;}
.wrap .wrap_line a.code_gray .join{position:absolute; top:0; right:0; _right:-1px; height:61px; line-height:61px; color:#FFF; text-align:center; font-size:12px; font-weight:bold; width:66px; background:#c0c0c0;}
.wrap .wrap_line a.code .cancel{background:#ec0018 url(../images/stroe_cancel.png) right bottom no-repeat;}
.wrap .wrap_line a.code dl{padding:0px 0 0 0;}
.wrap .wrap_line a.code dl dt{text-align:center; font-size:18px; height:28px; line-height:28px; cursor:pointer;padding:4px 0 0 0;}
.wrap .wrap_line a.code dl dd{text-align:center; height:28px; line-height:18px; cursor:pointer;}
.wrap .wrap_line a.code:hover{border:2px solid #ec0018; color:#333; width:183px; height:59px;}
.wrap .wrap_line a.code_gray:hover{border:2px solid #c0c0c0; color:#333; width:183px; height:59px;}
.wrap .wrap_line a.code_current{border:1px solid #ec0018; color:#FFF; background:#ec0018;}
.wrap .wrap_line a.code_current dl dt,.wrap .wrap_line a.code_current dl dd{color:#FFF;}
.wrap .select_code{color:#ec0018; font-size:14px; font-weight:bold; height:30px; line-height:30px;}
/** 号码比对 **/
.wrap .wrap_line a.code .close{position:absolute; background:url(../images/store_close.jpg) no-repeat left top; _background:url(../images/store_close.jpg) no-repeat left top; width:20px; height:20px; top:0; right:0; cursor:pointer;}
.margin_top_minu55{ margin-top:-55px;}

/* 资费 2015-12-21 */
.handle{ float:left; width:851px; height:30px; padding:10px 0px 10px 85px; border-bottom:1px #c7c7c7 solid;}
.handle_wojia{ width:851px; height:30px; margin:0 auto; padding:10px 0px 10px 85px; border-bottom:1px #c7c7c7 solid;}
.handle_btn_left a{ float:left; width:100px; height:30px; line-height:30px; text-align:center; font-family:"宋体"; cursor:pointer; background:url(../images/handle_btn_left.jpg) no-repeat center center;}
.handle_btn_left a:hover {background:url(../images/handle_btn_left_ed.jpg) no-repeat center center; color:#fff;}
.handle_btn_left_clicked a{background:url(../images/handle_btn_left_ed.jpg) no-repeat center center; color:#fff;}
.handle_btn_right a{ float:left; width:100px; height:30px; line-height:30px; text-align:center; font-family:"宋体"; cursor:pointer; background:url(../images/handle_btn_right.jpg) no-repeat center center;}
.handle_btn_right a:hover {background:url(../images/handle_btn_right_ed.jpg) no-repeat center center; color:#fff;}
.handle_btn_right_clicked a{background:url(../images/handle_btn_right_ed.jpg) no-repeat center center; color:#fff;}
.handle_type{ float:left; width:212px; font-size:15px; font-family:"微软雅黑"; padding-top:20px;}

.handle_type_title{ width:200px; height:28px; line-height:28px; padding-left:10px; margin-bottom:5px; border:1px #e6e6e6 solid; color:#333333; background-color:#e6e6e6; cursor:pointer; }
.handle_type_title:hover{ position:relative; background-color:#e60017; color:#fff; border-right:2px #e60017 solid;}
.handle_type_title_clicked{ position:relative; background-color:#e60017; color:#fff; border-right:2px #e60017 solid;}
/* for ie6*/
a div.handle_type_title { *padding-left:10px;}
a:hover div.handle_type_title{ *background-color:#e60017; color:#fff; *border-right:2px #e60017 solid;}

.handle_detail{ float:left; width:700px; margin-top:10px; padding:10px; border:1px #c7c7c7 solid;}
.handle_detail_row{ float:left; width:100%; height:30px; line-height:30px; margin-bottom:5px; font-family:"宋体";}

/* 宁夏缴费 */
.charge_border{ width:476px; height:420px; margin:30px 62px; padding:50px 200px; border:1px #c7c7c7 solid;} /* 不用 2016-5-19 */
.charge_area{ margin:0 auto; width:632px;  height:434px; line-height:28px; padding:15px 0px 20px 0px; border:1px #c7c7c7 solid; border-radius:10px; background-color:#f6f6f6; }
.charge_img{ float:left; width:96px; height:96px; padding:35px 20px;background:url(../images/charge_cash.png) no-repeat center center; background-size:96px 96px; }
.charge_vertical{ float:left; width:42px; height:212px; padding:6px 0px;background:url(../images/charge_vertical.png) no-repeat center center; background-size:2px 212px; }
.charge_line{ width:632px; height:0px; border-top:1px solid #d2d2d2;border-bottom:1px solid #FFF; *border-bottom:0px solid #fff;font-size:0;}
.charge_pay_type{ float:left; margin:0px 0px 0px 10px; width:200px; height:40px; line-height:40px; font-family:"宋体"; text-align:right;*width:195px;}

/* 支付宝二维码 */
.alipayQR{ float:left;width:118px;height:118px; margin-left:40px; padding:11px 11px; background:url(../images/alipay_bg.png) no-repeat center center;}
.alipayQR img{width:118px;height:118px;}

/* 重庆收费 */
.charge_info_user{ width:894px; height:124px;}
.info_user{ float:left; width:246px; height:120px; line-height:20px; margin:0px 5px; padding:10px 10px;font-size:12px; font-family:"宋体"; border:1px #cccccc solid; background-color:#FFFFFF; cursor:pointer;}
.info_user_cur{ border:2px solid #e50017;}
.info_user_detail{ float:left; width:246px; height:20px; line-height:20px; text-align:left;}
.btn_left{ float:left;width:24px; height:142px; line-height:24px;background:url(../images/btn_left.png) no-repeat center center; cursor:pointer;}
.btn_left_more{ float:left;width:24px; height:142px; line-height:24px;background:url(../images/btn_left_more.png) no-repeat center center; cursor:pointer;}
.btn_right{ float:left;width:24px; height:142px; line-height:24px;background:url(../images/btn_right.png) no-repeat center center; cursor:pointer;}
.btn_right_more{ float:left;width:24px; height:142px; line-height:24px;background:url(../images/btn_right_more.png) no-repeat center center; cursor:pointer;}

/* 重庆综合变更tab页 */
.tabbox{ width:894px; overflow:hidden; margin:0 auto;}
.tab_conbox{width:872px; height:auto; min-height:50px; padding:10px 10px;  border: 1px solid #cccccc;border-top: none;background: #fff;}
.tab_con{ display:none;}
.tabs{height: 60px; font-size:14px; border-bottom:1px solid #ccc;width: 100%;}
.tabs li{position: relative;float:left; *width:100px; height:59px;line-height:20px; margin-right:12px;*margin-right:6px; text-align:center; border-radius:5px 5px 0 0;	border:1px solid #cccccc;border-left: 1px solid #ccc;margin-bottom: -1px;background: #ffffff;overflow: hidden;}
.tabs li a {display: block;padding: 0px 25px;*padding: 0px 20px;border: 1px solid #fff;outline: none;}
.tabs li a:hover {background: #fff;}    
.tabs .thistab,.tabs .thistab a:hover{background: #fff;border-bottom: 1px solid #fff;}
.tab_con {padding:12px; line-height:175%;*zoom:1;}

.tab_img{margin:0 auto; width:100%; height:26px; line-height:26px; padding-top:5px; cursor:pointer;}
.tab_product_change{background:url(../images/product_change.jpg) no-repeat center center;background-size:42px 26px;}
.tab_set_change{background:url(../images/set_change.jpg) no-repeat center center;background-size:42px 26px;}
.tab_repair_card{background:url(../images/repair_card.jpg) no-repeat center center;background-size:42px 26px;}
.tab_transfer_name{background:url(../images/transfer_name.jpg) no-repeat center center;background-size:42px 26px;}
.tab_cancel_name{background:url(../images/cancel_name.jpg) no-repeat center center;background-size:42px 26px;}
.tab_stop_open{background:url(../images/stop_open.jpg) no-repeat center center;background-size:42px 26px;}
.tab_international_roam{background:url(../images/international_roam.jpg) no-repeat center center;background-size:42px 26px;}
.tab_half_year_bag{background:url(../images/half_year_bag.jpg) no-repeat center center;background-size:42px 26px;}
.tab_icon_down{margin:0 auto; width:100%;height:4px; line-height:4px; cursor:pointer;background:url(../images/triangle_down.jpg) no-repeat center top;background-size:12px 4px;}
.tab_icon_up{margin:0 auto; width:100%; height:4px; line-height:4px; cursor:pointer;background:url(../images/triangle_up.jpg) no-repeat center top;background-size:12px 4px;}
/* 业务包弹出窗口 2016-6-2*/
.band_grey{ width:100%; height:8px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background-color:#eeeeee;}
.busi_bag{ float:left; width:100%; height:36px; line-height:36px;}
.busi_bag_text{ float:left; padding:0px 10px; width:412px; height:auto!important; *height:36px; line-height:36px; font-size:16px; color:#000000;}
.busi_bag_check{ float:left; margin:0px 20px; width:20px; height:36px; line-height:36px; cursor:pointer; background:url(../images/check.png) no-repeat center center;background-size:20px 20px;}
.busi_bag_checked{ float:left; margin:0px 20px; width:20px; height:36px; line-height:36px; cursor:pointer; background:url(../images/checked.png) no-repeat center center;background-size:20px 20px;}
.line_grey{ width:100%; height:1px; border-top:1px solid #ccc; clear:both;}

/* 手机号绑定维护 2016-6-22 */
.pop_title_big{ margin:0 auto; height:36px; line-height:36px; font-size:30px; text-align:center;font-family:"微软雅黑";}
.pop_info{ height:23px; line-height:23px;font-size:12px; font-family:"宋体";}
.pop_info li { *height:auto!important;}
.pop_info_special{  margin:0 auto; width:480px; height:46px; line-height:23px; padding:10px 10px; font-size:12px; font-family:"宋体"; font-weight:bold; background-color:#f5f5f5; border-radius:10px 10px; border:1px solid #c9c9c9;}

/* 海南销售收入 2016-7-5 */
.sales{ width:867px; height:34px; line-height:34px; padding-left:33px; background-color:#d9d9d9;}
.sales_title{ float:left; width:102px; height:34px; line-height:34px; text-align:left; background-color:#d9d9d9;}
.sales_title_86{ width:84px; }
.sales_box{ width:878px; height:340px; padding:10px 10px; border-left:1px solid #d9d9d9; background-color:#FFF; overflow-y:auto;*overflow-x:hidden; border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;}
.sales_box li { display:inline; clear:both;}
.sales_box_column{ float:left; width:102px; line-height:26px; text-align:left;}
.sales_box_column_86{ width:84px;}


