body{margin:0; padding:0; font-size:12px; color:#333; font-family:"微软雅黑","宋体"; background:#e8e8e8;}
a{color:#333; text-decoration:none;}
a:hover{color:#ec0018;}
img{border:0;}
ul,li,dl,dt,dd,form,p,h1,h2,h3,h4{margin:0; padding:0; list-style:none;}
input,select{outline:none;}
.clear{clear:both; height:0; font-size:0; overflow:hidden;}
.cursor{cursor:pointer;}