body{*position:relative!important; _position:relative; background:#FFF;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed}


.show{width:1000px; margin:14px auto 0px auto; background:#FFF; border-top:2px solid #FFF; padding:0px 0 10px 0;}
.show .show_title_bg{width:1000px; margin:0px auto 0 auto; background:url(../images/show_detail_bg.png) repeat-x left top; height:53px;}
.show .show_title_bg .show_title{padding-left:12px; font-size:16px; font-family:"宋体"; font-weight:bold; line-height:24px; background:url(../images/show_detail_ico.png) no-repeat left top; height:53px;}
.show .show_title_bg .show_title span.crumb{float:right; font-size:12px; font-weight:normal; text-align:center; margin-right:3px;  height:26px; line-height:26px; text-align:right;}
.show .show_title_bg .show_title span.red{color:#e60017; font-size:12px; font-weight:normal; display:inline-block; padding-left:38px;}

.show .box{width:488px; float:left;}
.show .box_margin_right{padding-right:24px;}
.show .box_long{width:1000px; margin:0px auto; padding:10px 0;}

.show .box .show_big_title{height:40px; padding-top:4px; line-height:30px; font-size:14px; font-family:"宋体"; font-weight:bold;}
.show .box .show_big_title strong{font-size:24px; font-family:"微软雅黑","宋体"; color:#e60017; display:inline-block; padding-right:5px; font-weight:normal;}
.show .box .table_box{border:1px solid #e7e7e7; background:#f8f8f8; width:486px; padding:10px 0; overflow-y:scroll;}
.show .box_long .table_box{border:1px solid #e7e7e7; background:#f8f8f8; width:1000px; overflow:auto;}
.show .box_long .table_box .td{border:1px solid #444444;border:1px solid #444444 ;height:30px;text-align:center; width:500px;}
.show .box_long .table_box .error {padding-left:20px; color: red; font-size: 14px}
.show .box_long .table_box .warn {padding-left:20px; color: blue; font-size: 14px}

.show .dashed{clear:both; border-top:1px dashed #e7e7e7; background:#f8f8f8; border-bottom:1px dashed #e7e7e7; background:#f8f8f8; text-align:center; padding:15px 0;}
.show .dashed a{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.robots{display:inline-block; background:url(../images/view_btn.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:77px;}
.show .dashed a.robots:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.show .dashed a.big{display:inline-block; background:url(../images/view_import.png) no-repeat left top; color:#FFF; text-align:center; font-size:12px; height:26px; line-height:26px; width:107px;}
.show .dashed a.big:hover{background:url(../images/view_import.png) no-repeat left bottom;}
.show .total{font-size:16px;}
.show .box .table_box_none{background:#FFF; width:486px;}
.show .box .table_box_none .sel{width:370px; background:#f8f8f8; border:1px solid #e7e7e7; height:20px; color:#999;}
.show .date{width:200px; padding-left:4px; background:#FFF url(../images/ico_date.jpg) no-repeat right center; border:1px solid #e7e7e7; height:24px;}
.show .box .table_box_none .input_click{width:342px; padding-left:6px;  border:1px solid #e7e7e7; border-right:0px; height:20px;background-size:16px 16px;background-color:#f8f8f8;position:relative;float:right;}
.show .box .table_box_none .input_click_delete{display:block;width:20px;height:22px; float:right; background:#FFF url(../images/delete.png) no-repeat center center;background-color:#f8f8f8; border:1px solid #e7e7e7; border-left:0px; background-size:20px 20px; position:relative;cursor:pointer;}

.show .list{width:1000px; margin:0 auto; height:330px; overflow-x:scroll; position:relative;}
#float_div{position:absolute; top:0; right:0; width:100px;}

.branch-code{ width:198px; height:20px; margin-right:24px; padding:0px; }
.branch-name{ width:390px; height:24px; padding:0px;}
.select-table{ width:936px; margin:0px auto;}
.show-select .pages{ width:936px;}
.sel{width:200px; background:#ffffff; border:1px solid #e7e7e7; height:20px; color:#000000;}

.input_button {display:inline-block;_float:left; margin-left:4px; background:url(../images/view_btn.png) no-repeat left top; width:77px; min-width:77px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:pointer;}
.input_button_disabled{display:inline-block; margin-left:4px; background:url(../images/btn_disabled.png) no-repeat left top; width:77px; height:26px; line-height:26px; text-align:center; color:#FFF; cursor:default;}
