@import url("top.css");
body{*position:relative!important; _position:relative;}
.select{height:44px; line-height:44px; background:#FFF; border-bottom:1px solid #d0d0d0;}
.select .select_list{width:1000px; margin:0 auto;}
.select .select_list .div_float{float:left; height:37px; padding-top:7px; margin-right:5px; *margin-right:2px!important; _margin-right:2px;}
.select .select_list .div_float_ie6{*padding-top:12px!important; _padding-top:12px;}
.select .select_list .div_float_none{margin-right:0;}
.select .select_list .div_float select{height:28px; line-height:28px; border:1px solid #dcdcdc;}
#time{width:130px;}
#order{width:100px;}
#type{width:100px;}
#receive{width:101px;}  
#mob_section{width:100px;}
#mob_section_3G{width:100px;}
#mob_section_4G{width:100px;}

.select .select_list .div_float a.g{display:inline-block; width:52px; height:28px; line-height:28px; border:1px 
solid #CCC; background:url(../images/g_bg.png) repeat-x left top; text-align:center; color:#333; font-weight:bold; margin-right:5px; _margin-right:2px;}
.select .select_list .div_float a.g_current{color:#FFF; background:#ec0018; border:1px solid #ec0018;}
.select .select_list .div_float a.g:hover{color:#FFF; background:#ec0018; border:1px solid #ec0018;}
.select .select_list .div_float dl{}
.select .select_list .div_float dl dt{float:left; height:28px; text-align:right; width:171px; line-height:28px; padding-right:5px; _padding-right:2px;}
.select .select_list .div_float dl dd{float:left; height:28px; line-height:28px; padding-right:5px; _padding-right:5px;}
.select .select_list .div_float dl dd.none{padding-right:0;}
.select .select_list .div_float dl dd input.tel{width:250px; height:26px; line-height:26px; border-radius:3px; border:1px solid #dcdcdc; text-indent:10px; _text-indent:3px;}
.select .select_list .div_float dl dd a.search{display:block; background:url(../images/search.png) no-repeat left top; padding-left:32px; padding-top:6px; width:35px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";}
.select .select_list .div_float dl dd a.search:hover{background:url(../images/search.png) no-repeat left bottom;}
.wrap{width:983px; min-height:380px; margin:14px auto 0px auto; background:#FFF; border-top:2px solid #e60017; padding:15px 0 0 17px;}
.wrap .wrap_line{border-right:0px dashed #dedede; width:191px; float:left; margin:0 2px 2px 0; _margin:0 1px 1px 0;}
.wrap .none{border-right:0;}
.wrap .wrap_line a.code{float:left; width:189px; height:61px; border:1px solid #dedede; position:relative;}
.wrap .wrap_line a.code_gray{border:2px solid #c0c0c0; color:#333; width:187px; height:59px;}

.wrap .wrap_line a.selected{background:#FFF url(../images/stroe_selected.png) right bottom no-repeat; border:2px solid #ec0018; color:#333; width:187px; height:59px;}

.wrap .wrap_line a.code .join{position:absolute; top:0; right:0; _right:-1px; height:61px; line-height:61px; color:#FFF; text-align:center; font-size:12px; font-weight:bold; width:68px; background:#ec0018; cursor:pointer;}
.wrap .wrap_line a.code .compare_close{position:absolute; top:0; right:0; height:61px; line-height:61px; color:#FFF; text-align:center; font-size:12px; font-weight:bold; width:68px; background:;}
.wrap .wrap_line a.code_gray .join{position:absolute; top:0; right:0; _right:-1px; height:61px; line-height:61px; color:#FFF; text-align:center; font-size:12px; font-weight:bold; width:68px; background:#c0c0c0;}

.wrap .wrap_line a.code .cancel{background:#ec0018 url(../images/stroe_cancel.png) right bottom no-repeat;}



.wrap .wrap_line a.code dl{padding:0px 0 0 0;}
.wrap .wrap_line a.code dl dt{text-align:center; font-size:18px; height:30px; line-height:30px; cursor:pointer;}
.wrap .wrap_line a.code dl dd{text-align:center; height:28px; line-height:28px; cursor:pointer;}
.wrap .wrap_line a.code:hover{border:2px solid #ec0018; color:#333; width:187px; height:59px;}
.wrap .wrap_line a.code_gray:hover{border:2px solid #c0c0c0; color:#333; width:187px; height:59px;}
.wrap .wrap_line a.code_current{border:1px solid #ec0018; color:#FFF; background:#ec0018;}
.wrap .wrap_line a.code_current dl dt,.wrap .wrap_line a.code_current dl dd{color:#FFF;}
.wrap .select_code{color:#ec0018; font-size:14px; font-weight:bold; height:30px; line-height:30px;}



.copyright{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; height:135px; line-height:36px;}
.help{background:url(../images/help.png) no-repeat left top; _background:url(../images/help.gif) no-repeat left top; width:82px; height:82px; position:relative; right:0; bottom:180px;}/*如果需要支持IE6的话，那么请将：position:fixed; 更改为：position:relative;  且只能用JS来控制浮动*/
.help a{display:block; height:82px; width:82px;}

.compare{border-top:2px solid #e00100; position:relative; bottom:0px; right:0; left:0; background:url(../images/transparent.png); min-height:120px; _height:120px;}/*如果需要支持IE6的话，那么请将：position:fixed; 更改为：position:relative;  且只能用JS来控制浮动*/
.compare .title{background:url(../images/compare_title.png) no-repeat left top; _background:url(../images/compare_title.jpg) no-repeat left top; width:256px; height:33px; line-height:33px; text-align:center; font-size:14px; color:#FFF; font-weight:bold; margin:0 auto;}
.compare .compare_info{width:1000px; margin:3px auto 0px auto; border-top:0px solid #e60017; padding:0px 0 0 0;}
.compare .compare_info .compare_line{border-right:1px solid transparent; _border-right:1px solid #818b8d; width:332px; float:left; padding:0 0 15px 0;}
.compare .compare_info .none{border-right:0;}
.compare .compare_info .compare_line a.code{float:left; width:291px; height:76px; border:1px solid #dedede; margin:0 17px; position:relative; cursor:default;}
.compare .compare_info .compare_line a.code dl{padding:18px 0 0 0;}
.compare .compare_info .compare_line a.code dl dt{text-align:center; font-size:24px; height:26px; line-height:26px;}
.compare .compare_info .compare_line a.code dl dd{text-align:center; height:28px; line-height:28px;}
.compare .compare_info .compare_line a.code:hover{border:1px solid #ec0018; color:#333;}
.compare .compare_info .compare_line a.code_current{border:1px solid #ec0018; color:#FFF; background:#ec0018;}
.compare .compare_info .compare_line a.code_current dl dt,.compare .compare_info .compare_line a.code_current dl dd{color:#FFF;}
.compare .compare_info .compare_line a.code .close{position:absolute; background:url(../images/store_close.png) no-repeat left top; _background:url(../images/store_close.jpg) no-repeat left top; width:20px; height:20px; top:0; right:0; cursor:pointer;}
.compare .close_all{background:url(../images/store_close_big.png) no-repeat left top; _background:url(../images/store_close_big.jpg) no-repeat left top; position:absolute; width:34px; height:34px; right:0px; top:2px; cursor:pointer;}