.top{height:32px; line-height:32px; background:#efefef;}
.top .top_chr{width:1000px; margin:0 auto; font-family:"宋体";}
.top .top_chr span{color:#ababab;}
.top .top_chr a.code_exit{float:right; background:url(../images/code_exit.png) no-repeat left top; padding-left:30px; width:55px; height:24px; line-height:24px; margin-top:5px;}


.banner{background:#dbcaac; height:116px;}
.banner .box{width:1000px; margin:0 auto;}
.banner .box .l{float:left;}
.banner .box .r{float:right; margin-top:41px;}

.tab{background:#e9ddc6; height:47px; border-bottom:2px solid #e60017;}
.tab .tab_list{width:1000px; margin:0 auto;}
.tab .tab_list ul{padding-top:3px; float:left;}
.tab .tab_list ul li{float:left; margin-right:3px;}
.tab .tab_list ul li a{display:block; height:44px; line-height:44px; width:96px; color:#333; font-size:16px; text-align:center;}
.tab .tab_list ul li a:hover{background:url(../images/tab_current.png) no-repeat left top; color:#FFF;}
.tab .tab_list ul li a.current{background:url(../images/tab_current.png) no-repeat left top; color:#FFF;}
.tab .tab_list .tip{float:left; font-size:12px; color:#ec0018; line-height:44px; padding-top:3px; text-align:left;}
.tab .tab_list .crumb{float:right; text-align:right; line-height:44px; padding-top:3px;}

/* 菜单左右移动 2016-7-7 */
.btn_left_grey{ display:none; float:right; width:48px; height:44px; background:url(../images/btn_left_grey.png) no-repeat center center; background-size:27px 44px;}
.btn_left_red{ display:none; float:right; width:48px; height:44px; cursor:pointer;background:url(../images/btn_left_red.png) no-repeat center center; background-size:27px 44px;}
.btn_right_grey{ display:none; float:right; width:48px; height:44px; background:url(../images/btn_right_grey.png) no-repeat center center; background-size:27px 44px;}
.btn_right_red{ display:none; float:right; width:48px; height:44px; cursor:pointer;background:url(../images/btn_right_red.png) no-repeat center center; background-size:27px 44px;}