/* public */
/* 容器 */
@charset "utf-8";
/* CSS Document */

*,:after,:before{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}

html{height:100%; margin:0; padding:0;}
body{height:100%; *height:99.5%; margin:0; padding:0; white-space:nowrap; font-size:12px; font-family:"微软雅黑", "宋体"; color:#333333;}

ul,li,dt,dd,dl,h1,h2,h3,h4,h5,h6,p,form{margin:0; padding:0; list-style:none;}

a{color:#333333; text-decoration:none; background-color:transparent;}
a:hover{color:#ec0018; outline:0;}
a:active{outline:0;}

input,select{outline:none;}
img{border:0;}
i{display:inline-block;}


/* 左边 业务选项 */
.c-main>.left,.c-main>.right{width:50%;padding:0 5px;}
.l-bao{width:98%;height:420px;margin:20px auto;}
.l-bao .ll{float:left;width:16%;height:100%;overflow:hidden;border-right:1px solid #eee;}
.l-bao .lr{float:right;width:84%;height:100%;}

.l-ul{width:100%;}
.l-li{width:100%;height:60px;margin-bottom:10px;border:1px solid #eee;}
.l-li:hover{border:1px solid #f2594b}
/* .l-top{width:100%;height:50%; background:url(../../images/pc/oppoCard/open_card_chip_un.png) no-repeat center center;background-size:37px 20px} */

.l-bottom{width:100%;height:50%;font-size:13px;text-align:center;padding-top:4px}
.l-bottom:hover{color:#d94032;/* cursor:pointer */}

.grab{ cursor: -webkit-grab;cursor: -moz-grab;cursor: grab;}
.grabbing {cursor: -webkit-grabbing;cursor: -moz-grabbing;cursor: grabbing;}

/* 第一个被选中 */
.l-li:nth-child(1){border:1px solid #f2594b;}
.l-border{border:1px solid #f2594b;}

.l-li:nth-child(1) .l-bottom{color:#d94032;}

.lt-top{width:100%;height:400px;border:1px solid #eee;}
.lt-bottom{margin-top:30px;margin-bottom:20px}
.zuo,.you{width:5%;height:60px;border:1px solid #eee;}
.zuo,.you:hover{cursor:pointer}
.zuo i{/* width:22px;height:32px; */width:100%;height:100%;margin-top:50%;background:url(../../images/pc/oppoCard/left.png) no-repeat;}
.you i{/* width:22px;height:32px; */width:100%;height:100%;margin-top:50%;margin-left:30%;background:url(../../images/pc/oppoCard/right.png) no-repeat;}
.zuo i:hover{cursor:pointer;background:url(../../images/pc/oppoCard/lr-hover.png) no-repeat -30px 0px;}
.you i:hover{cursor:pointer;background:url(../../images/pc/oppoCard/lr-hover.png) no-repeat 0px -30px;}
.zhong{width:90%;+width:86%;height:60px;padding:0 10px;overflow:hidden;}
.lt-ul{margin-left:0px;}
.lt-ul .l-li{/* width:93px; */width:30%;+width:90px;height:60px;+height:58px;margin-right:16px;}

/* 右边 业务详情*/
.r-bao{width:98%;margin:20px auto;background:#f3f3f3;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;padding:0 15px 10px 15px;}
.tip{text-align:center;line-height: 30px;font-weight:bold;font-size:16px;padding:5px;color:#666;}
.r-ul{white-space:normal;}
.r-ul li{margin-bottom:15px;}
.r-ul .one{width:25%;color:#999;font-size:14px;}
.r-ul .two{width:75%;color:#666;line-height:22px;font-size:12px;}
/* l-top */
.l-top{width:100%;height:50%;}
.i{display:inline-block;width:37px;height:20px;margin:5px 30%;}
.bg-i-r{background:url(../../images/pc/oppoCard/open_card_chip.png) no-repeat center center;background-position-x:left\0;+background-position:left left;background-size:37px 20px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/pc/oppoCard/open_card_chip.png',sizingMethod='scale');}
.bg-i-h{background:url(../../images/pc/oppoCard/open_card_chip_un.png) no-repeat center center;background-position-x:left\0;+background-position:left left;background-size:37px 20px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/pc/oppoCard/open_card_chip_un.png',sizingMethod='scale');}