@import url("share.css");
#sub_nav{height:33px; line-height:33px; background:#F6F6F6; border-bottom:1px solid #E8E8E8;}
#sub_nav .sub_nav_position{width:1000px; margin:0 auto;height:33px; line-height:33px;}
#sub_nav .sub_nav_position .sub_nav_l{float:left;}
#sub_nav .sub_nav_position .sub_nav_l a{color:#3D82DF;}
#sub_nav .sub_nav_position .sub_nav_l a:hover{color:#F08200;}
#sub_nav .sub_nav_position .sub_nav_r{float:right;}
#sub_nav .sub_nav_position .sub_nav_r a{float:right; padding:0 6px; background:url(../images/sub_nav_line.png) right top no-repeat;}
#sub_nav .sub_nav_position .sub_nav_r .weibo{float:right; width:56px; height:22px; line-height:22px; margin-top:5px; padding-left:22px; background:url(../images/weibo.png) no-repeat left top; margin-left:6px;}




.logo_bg{background:#FFF;}
.logo{width:1000px; margin:0 auto; height:87px; background:#FFF;}
.logo .logo_l{float:left; width:510px;}
.logo .logo_r{float:left; width:490px;}
.logo .logo_r ul{height:60px; padding-top:27px;}
.logo .logo_r ul li{float:right; color:#333; font-size:16px; font-weight:bold; height:60px; line-height:60px;}
.logo .logo_r ul li a{display:block; padding-left:20px; padding-right:50px; color:#333;}
.logo .logo_r ul li a.hover{background:url(../images/ico.png) left center no-repeat; display:block; padding-left:20px; padding-right:50px; color:#F08200;}
.logo .logo_r ul li a:hover{background:url(../images/ico.png) left center no-repeat; display:block; padding-left:20px; padding-right:50px; color:#F08200;}
.sub_menu{height:43px; line-height:43px; background:#3F3B3A; color:#FFF;}
.sub_menu .sub_menu_position{width:1000px; margin:0 auto;}
.sub_menu .sub_menu_position a{display:block; float:left; height:43px; line-height:43px; padding:0 30px; background:url(../images/sub_menu_line.png) no-repeat left center; color:#FFF;}
.sub_menu .sub_menu_position a:hover{color:#F08200;}
.sub_menu .sub_menu_position .search{background:url(../images/search_bg.png) no-repeat left top; height:25px; width:295px; float:right; margin-top:9px;}
.sub_menu .sub_menu_position .search .input_text{width:250px; padding-left:10px; padding-top:2px; float:left;}
.sub_menu .sub_menu_position .search .input_text input{width:240px; border:0; height:18px; line-height:18px; background:#696969; color:#CACACA;}
.sub_menu .sub_menu_position .search .input_button{width:35px; padding-top:2px; float:left;}
.sub_menu .sub_menu_position .search .input_button a.q{display:block; height:25px; background:none;}

.banner{height:135px; background:#7C9EBA url(../images/banner.jpg) no-repeat right center; padding-top:20px;}
.banner .banner_content{width:1000px; height:135px; margin:0px auto; position:relative;}
.banner .banner_photo{position:absolute; left:10px; top:-8px; background:url(../images/photo.png) no-repeat; width:128px; height:128px;}
.banner .banner_notice{width:105px; position:absolute; height:31px; background:url(../images/notice_2.png) no-repeat right top; right:16px; top:-5px;}
.banner .banner_notice .notice_l{float:left; background:url(../images/notice_1.png) no-repeat left top; width:75px; height:31px;}
.banner .banner_notice .notice_r{float:left; height:13px; min-width:11px; margin-top:10px; background:#E81929; color:#FFF; text-align:center; font-size:12px; line-height:13px; padding:0 2px;}

.banner .banner_content .trans{width:820px; padding-left:120px; float:right; background:url(../images/tansparent70.png); height:115px;}
.banner .banner_content .trans .trans_name{width:800px; margin-top:20px; line-height:28px;}
.banner .banner_content .trans .trans_name .name{float:left; background:url(../images/v5.png) no-repeat right center; padding-right:22px; font-size:14px; font-weight:bold;}
.banner .banner_content .trans .trans_name .hello{float:left; font-size:14px; font-weight:bold;}
.banner .banner_content .trans .trans_name .img img{padding:0 1px;}



.banner .banner_content .trans .trans_tel{width:800px; clear:both; line-height:28px;}
.banner .banner_content .trans .trans_tel .ico_10{float:left; width:20px; height:20px; padding-top:6px;}
.banner .banner_content .trans .trans_tel .arrow_2{background:url(../images/ico2.png) no-repeat right 6px; padding-right:16px; font-weight:bold; position:relative;}
.banner .banner_content .trans .trans_tel .list{width:124px; position:absolute; display:none; top:15px;}
.banner .banner_content .trans .trans_tel .list h2{background:url(../images/list_head.png) no-repeat left bottom; height:11px; overflow:hidden;}
.banner .banner_content .trans .trans_tel .list ul{background:url(../images/list_bg.png) no-repeat left top; padding:5px 16px;}
.banner .banner_content .trans .trans_tel .list ul li{border-bottom:1px solid #646161; font-weight:normal; color:#FFF; text-align:center;}
.banner .banner_content .trans .trans_tel .list ul li.hover{color:#F08200;}
.banner .banner_content .trans .trans_a{width:800px; clear:both; line-height:28px;}
.banner .banner_content .trans .trans_a .green{color:#009415; font-weight:bold;}
.banner .banner_content .trans .trans_a .blue{color:#0570C2;}







.content{background:#F5F4F4 url(../images/content_bg.png) repeat-x; padding-top:20px;}
.content_body1{width:998px; margin:0 auto; border:1px solid #DBDBDB; border-top:3px solid #3F3B3A; background:#FFF;}
.content_body1 .left{width:358px; border-right:1px dashed #CCC; margin:20px 0; float:left;}
.content_body1 .left a.btn_1{height:24px; line-height:24px; display:block; text-align:center; background:url(../images/btn_1.png) no-repeat left top; text-indent:0; width:69px;}
.content_body1 .left a.btn_1:hover{background:url(../images/btn_1.png) no-repeat left bottom; color:#FFF;}
.content_body1 .left a.btn_2{height:24px; line-height:24px; display:block; text-align:center; background:url(../images/btn_2.png) no-repeat left top; text-indent:0; width:180px;}
.content_body1 .left a.btn_2:hover{background:url(../images/btn_2.png) no-repeat left bottom; color:#FFF;}
.content_body1 .left h2{background:url(../images/body_header_1.png) no-repeat; height:55px; width:315px; margin:0 auto; text-indent:30px; font-size:14px; line-height:36px; color:#000;}
.content_body1 .left h2.add{background:url(../images/body_header_2.png) no-repeat; height:55px; width:315px; margin:0 auto; text-indent:30px; font-size:14px; line-height:36px;}
.content_body1 .right{width:278px; margin:20px 0; float:left;}
.content_body1 .right a.active{float:right; margin-top:8px; margin-right:30px;}
.content_body1 .right h2{background:url(../images/body_header_3.png) no-repeat; height:55px; width:250px; margin:0 auto; text-indent:30px; font-size:14px; line-height:36px; float:right; color:#000;}



.content_body2{width:998px; border:1px solid #DBDBDB; background:#FFF; margin:10px auto;}
.content_body2 .left{width:718px; float:left;}
.content_body2 .left h2{font-size:14px; line-height:36px; background:url(../images/ico3.png) no-repeat 28px 10px; text-indent:50px; height:36px; margin-top:20px; color:#000;}
.content_body2 .left h2 a.view{float:right; padding-right:10px; font-weight:normal;}
.content_body2 .left .tip{height:20px; line-height:20px; background:url(../images/tip.png) no-repeat left top; padding-left:14px; float:left;}
.content_body2 .left .tip span{display:block; height:20px; padding-right:10px; background:url(../images/tip.png) no-repeat right bottom; color:#FFF;}


.content_body2 .right{width:278px; margin:20px 0; float:left;}
.content_body2 .right h2{background:url(../images/body_header_4.png) no-repeat; height:55px; width:250px; margin:0 auto; text-indent:30px; font-size:14px; line-height:36px; float:right; color:#000;}
.content_body2 .right .price{font-size:36px; color:#165A99; font-weight:bold; vertical-align:bottom;}
.content_body2 .right a.btn_3{height:26px; line-height:26px; display:block; text-align:center; background:url(../images/btn_3.png) no-repeat left top; text-indent:0; width:113px; color:#FFF;}
.content_body2 .right a.btn_3:hover{background:url(../images/btn_3.png) no-repeat left bottom; color:#FFF;}
.ad{height:80px; margin:0 auto; width:1000px;}

.footer{height:35px; line-height:35px; color:#FFF; text-align:center; background:#3F3B3A; margin:20px 0 5px 0;}
.footer a{color:#FFF;}
.footer span{color:#706F6F;}
.copyright{text-align:center; height:30px; line-height:30px;}

#scrool{width:38px; height:77px; line-height:16px; color:#FFF; background:#B1B1B1; border:1px solid #D9D9D9;}
#scrool .scrool_online{height:35px; line-height:16px; text-align:center; border-bottom:1px solid #D9D9D9; padding-top:3px;}
#scrool .scrool_online a{color:#FFF;}
#scrool .scrool_top{height:35px; line-height:16px; text-align:center; padding-top:3px;}
#scrool .scrool_top a{color:#FFF;}


a.btn_userin{height:26px; line-height:26px; display:block; text-align:center; background:url(../images/btn_3.png) no-repeat left top; text-indent:0; width:113px; color:#FFF;}
a.btn_userin:hover{background:url(../images/btn_3.png) no-repeat left bottom; color:#FFF;}