html, body {margin: 0; padding: 0; background-color: #fff;font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;    line-height: 20px; color: #333;}
a {color: #4e83d6;text-decoration: none;}
a:hover {text-decoration: underline;}

input {margin: 0;}
/* classes */
.cf {zoom: 1;}
.cf:after {content: ''; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden;}
/* btn */
.btn {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 7px 20px 6px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'SimSun', Arial;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: solid;
    background-repeat: repeat-x;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #fff;
    background-color: #4e83d6;
    border-color: #3361a4;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF689BEC', endColorstr='#FF4E83D6');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #689BEC), color-stop(100%, #4e83d6));
    background-image: -webkit-linear-gradient(top, #689BEC, #4e83d6);
    background-image: -moz-linear-gradient(top, #689BEC, #4e83d6);
    background-image: -o-linear-gradient(top, #689BEC, #4e83d6);
    background-image: linear-gradient(top, #689BEC, #4e83d6);
}

.btn:hover {
    background-color: #5689d8;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF73A3F0', endColorstr='#FF5689D8');
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #73a3f0), color-stop(100%, #5689d8));
    background-image: -webkit-linear-gradient(top, #73A3F0, #5689d8);
    background-image: -moz-linear-gradient(top, #73A3F0, #5689d8);
    background-image: -o-linear-gradient(top, #73A3F0, #5689d8);
    background-image: linear-gradient(top, #73A3F0, #5689d8);
}
.loading{
	color: #a0a0a0;
	background-color: #e8e8e8; 
	border-color: #bebebe;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #bebebe), color-stop(100%, #e8e8e8));
    background-image: -webkit-linear-gradient(top, #bebebe, #e8e8e8);
    background-image: -moz-linear-gradient(top, #bebebe, #e8e8e8);
    background-image: -o-linear-gradient(top, #bebebe, #e8e8e8);
    background-image: linear-gradient(top, #bebebe, #e8e8e8);
	cursor:default;
}
.loading:hover {
    background-color: #f9f9f9;
	border-color: #dddddd;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #f9f9f9));
    background-image: -webkit-linear-gradient(top, #dddddd, #f9f9f9);
    background-image: -moz-linear-gradient(top, #dddddd, #f9f9f9);
    background-image: -o-linear-gradient(top, #dddddd, #f9f9f9);
    background-image: linear-gradient(top, #dddddd, #f9f9f9);
}

.login-box {position: absolute;left: 50%;top: 50%;}
.login-container{position: relative;left: -217px;top:-280px;width: 434px;}
.login-container .header {width: 242px;height: 87px;margin: 0 auto ;padding: 0px;background: url(../images/logo.png) no-repeat;}
.login-container form {color: #555;width: 420px;min-height: 300px;margin: 0 auto;border: 8px #f2f2f2 solid;position: relative;z-index: 1002;}
.login-container form.feedback {padding-top: 20px;}
.login-container form.error {padding-top: 40px; min-height: 240px;width: 580px;}
.login-container form .login-section {border: 1px #ddd solid;}
.login-container form .legend {display: block;width: 388px;font-size: 14px;font-weight: bold;color: #5d5d5d;line-height: 14px;padding: 15px 0 15px 30px; margin-bottom: 0; *padding: 15px 0 8px 30px;}

.login-container form hr {width: 410px;border: 0; border-top: 2px solid #d5d5d5;border-bottom: 1px solid #ffffff;margin: 0 auto 0 auto;}

.login-container form hr.decoration {width: 140px;border-top: 2px solid #3361a4;position: absolute;left: 5px;top: 45px;}
.login-container form hr.separator {width: 390px;border: 0;border-top: 1px solid #e7e7e7;border-bottom: 1px solid #ffffff; margin: 0 auto 0 auto;}

.login-container form .hint {min-height: 32px;padding: 10px 50px 0 50px;position: relative;}
.login-container form .hint-info {height: auto;padding: 10px 50px 20px 50px;font-size: 12px;}
.login-container form .hint-error {height: auto;padding: 10px 50px 20px 50px;font-size: 12px;}
.login-container form .hint .info {color: #ff6600;}
.login-container form .hint .info a {color: #b6b6b6;text-decoration: none;position: absolute;right: 50px;top: 10px;}
.login-container form .hint .info a:hover {text-decoration: underline;}
.login-container form .hint .error {color: #ff0000;}
.login-container form .hint .tip-error {font-size: 12px;padding: 5px 10px; background: #fcf2f2;border: 1px #f7dde2 solid;color: #cc2222;}

.login-container form .hint-error .error-panel {margin-left: 160px;}
.login-container form .hint-error .error-panel a {display: block; color: #ff6600; margin-top: 5px;}
.login-container form .hint-error .error-logo {width: 64px;height: 64px;float: left; background-image: url("../images/login/error.jpg"); margin-top: 9px;margin-left: 50px; *margin-left: 25px;}
.login-container form .hint-error .error-title {font-size: 48px;color: #ff6600;height: 48px;    line-height: 48px;margin-bottom: 30px;}
.login-container form .hint-error .error-info {font-size: 18px;line-height: 24px;color: #4a4a4a;    margin-bottom: 30px;}
.login-container form .hint-other {text-align: center;padding: 0 50px;}
.login-container form fieldset {padding: 0 50px 17px 50px; margin: 0; border: 0;}

.form-field {margin-top: 10px; position: relative;}
.form-field .icon {position: absolute;display: inline-block; width: 18px; height: 18px; top: 8px; left: 9px;line-height: 18px; vertical-align: text-top; background: url(../images/login/icon-login.png) no-repeat; padding-right: 9px; border-right: 1px solid #999;}
.form-field .icon-password {background-position: 0 -20px;}
.form-field input[type="text"], .form-field input[type="password"] {height: 24px;line-height: 24px;   padding: 5px 5px 5px 45px; vertical-align: top; font-size: 14px; border: 1px solid #ccc;}
.form-field input[type="text"]:focus, .form-field input[type="password"]:focus { border-color: #4e83d6; outline: 0;}
#login-username { width: 270px;}
#login-password { width: 270px;}

.form-field-other .forget-password {float: right;font-size: 12px;}
.form-field-submit {margin-top: 20px;}
.form-field-submit .btn {letter-spacing: 8px;}
.form-field input.ipt-captcha {padding-left: 10px;width: 80px;float: left;}
.form-field .captcha-field {float: left;margin-left: 10px;}
.form-field .captcha-field img {height: 42px;cursor: pointer}
