body{background:url(../images/bg.png) no-repeat center top; _background:url(../images/bg_ie6.jpg) no-repeat center top;}
.logo{margin:72px auto 7px auto; text-align:center; height:97px;}
.login{width:620px; height:345px; background:url(../images/login_wrap.png) left top no-repeat; _background:url(../images/login_wrap.gif) left top no-repeat; margin:0 auto; padding-top:54px;}

.login dl{clear:both; *height:70px!important; _height:59px;}
.login dl dt{width:154px; text-align:right; height:59px; line-height:44px; font-family:"微软雅黑"; font-size:16px; float:left;}
.login dl dt.sit{width:154px; text-align:right; height:44px; line-height:44px; font-family:"微软雅黑"; font-size:16px; float:left;}
.login dl dd{float:left;}
.login dl dd .error{background:url(../images/login_close.png) no-repeat left center; _background:url(../images/login_close.gif) no-repeat left center; padding-left:20px; height:22px; line-height:22px; color:#e60017;}
.login dl dd .error_hide{visibility:hidden;}
.login dl dd .box{width:398px; height:44px; background:url(../images/input_text_bg.png) no-repeat left top; text-align:center; position:relative;}
.login dl dd .box .close{position:absolute; right:20px; top:8px; background:url(../images/close.png) no-repeat left top; _background:url(../images/close_ie6.jpg) no-repeat left top; width:28px; height:28px;}
.login dl dd .box .text{width:358px; height:34px; line-height:34px; margin-top:2px; text-align:left; background:transparent; border:0; color:#333; font-family:"微软雅黑";}
.login dl dd ul{padding-top:10px;}
.login dl dd ul li{height:24px; line-height:24px; color:#999;}
.login dl dd ul li span{color:#333; font-family:"微软雅黑"; font-size:16px;}

.login .btn_login{border-top:1px solid #a39692; width:600px; margin:12px auto 0 auto; clear:both;}
.login .btn_login .btn{margin:18px auto 0 auto;}
.login .btn_login .btn a{display:block; color:#FFF; font-size:16px; font-family:"微软雅黑"; text-align:center; font-weight:bold; background:url(../images/btn_login.png) no-repeat left top; width:482px; height:45px; line-height:45px; margin:0 auto;}
.login .btn_login .btn a:hover{background:url(../images/btn_login.png) no-repeat left bottom; _background:url(../images/btn_login_ie6.png) no-repeat left bottom;}
.copyright{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; padding-top:50px; height:30px; line-height:30px;}

/* 2016-3-17 修改密码 lgw added  begin */

/*留空字符*/
.space5{ display:inline-block; width:5px; height:16px;}
.space16{ display:inline-block; width:16px; height:16px;}
 
/* 内容信息 */
.list{padding:4px 0px 0px 0px; width:874px; height:26px; margin:0 auto; vertical-align:central; }
.left{width:50%; float:left;height:26px;line-height:26px;}
.left_lable{float:left; }
.left_lable select{border:1px solid #d9d9d9; min-width:200px; height:28px; line-height:28px;  text-indent:3px;  _text-indent:0px;margin-right:4px;}
.left_data{float:left;}
.left_data input {padding-left:4px; margin-right:4px; border:1px solid #e7e7e7; height:24px; line-height:24px; }

/** 背景为图片形式，主要用这个,在IE6下有圆角 **/
.input_button {display:inline-block;_float:left; *float:left; margin-left:4px; background:url(../images/view_btn.png) no-repeat left top; width:77px; min-width:77px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:pointer;}
.input_button:hover{background:url(../images/view_btn.png) no-repeat left bottom;}

/* 虚线 */
.line_dashed{display:block;border-top:1px dashed #CCC;height:1px;width:100%; }
.line_dashed_h{height:13px; width:874px; margin:0 auto; background:url(../images/line.png) repeat-x left center; overflow:hidden; }

/* 宽度 */
.width_20{width:200px;}

/* 弹出窗口 */
.bg_mask {margin:0 auto;position: fixed; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0; filter: alpha(opacity=80); opacity: 0.8; overflow: hidden; background-color: #000; display:none; } 
*html { background: url(*) fixed;} 
*html body { margin: 0; height: 100%; } 
/*IE6*/ 
*html .bg_mask {position: absolute;left: expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth); top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight); } 
.bg_mask_iframe{margin:0 auto; display:none;_display:block;position:absolute;z-index:-1;filter:mask();width:100%;height:100%; 	} 

/* 弹出窗体 */
.pop_win {display: none; position: fixed;_position:absolute;  left:32%;top:30%;_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + 50 + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px"); width: 492px; height: auto; border: 1px solid #FFF; border-bottom: none; background-color: white; z-index: 1002; overflow: hidden;} 
/** 弹出窗口通用属性定义 **/
.msgbox{margin:0 auto; width:auto; max-width:936px;min-height:200px; background:#FFF; position:relative; padding:0px;}
.msgbox ul {padding:20px 0px 20px 0px; *padding:0px 0px 0px 0px;}
.msgbox ul li {padding-left:5px;height:26px; line-height:26px;}
.msgbox ul .center{width:166px; _width:166px; text-align:center; margin:0 auto; }

/*字体定，默认为12 义*/
.text_large{ font-size:16px;}
.bold{ font-weight:bold;}

/* 颜色 */
.red_bgcolor{ background-color:#e60017; color:#fff;}
.yellow_bgcolor{ background-color:#f8f9cd;}
.gray_bgcolor{ background-color:#eaeaea;}

/* 2016-3-17 修改密码 lgw added  end */

/* 增加校验码 2016-6-13  lgw added begin */
.login_v2{width:620px; height:399px; background:url(../images/login_wrap_v2.png) left top no-repeat; _background:url(../images/login_wrap_v2.gif) left top no-repeat; margin:0 auto; padding-top:44px;}

.login_v2 dl{clear:both; *height:60px!important; _height:59px;}

.login_v2 dl dd .box_short{ float:left; width:194px; height:44px; background:url(../images/input_text_bg_short.png) no-repeat left top; text-align:center; position:relative;}
.login_v2 dl dd .box_short .close{position:absolute; right:20px; top:8px; background:url(../images/close.png) no-repeat left top; _background:url(../images/close_ie6.jpg) no-repeat left top; width:28px; height:28px;}
.login_v2 dl dd .box_short .text{ width:154px; height:34px; line-height:34px; margin-top:2px; text-align:left; background:transparent; border:0; color:#333; font-family:"微软雅黑";}

.login_v2 dl dd .btn_short{ float:left; width:194px; height:45px; line-height:45px; margin-left:10px;}
.login_v2 dl dd .btn_short a{ display:block; color:#FFF; font-size:16px; font-family:"微软雅黑"; text-align:center; background:url(../images/btn_login_short.png) no-repeat left top; width:194px; height:45px; line-height:45px; margin:0 auto;}
.login_v2 dl dd .btn_short a:hover{background:url(../images/btn_login_short.png) no-repeat left bottom; _background:url(../images/btn_login_ie6_short.png) no-repeat left bottom;}

/* 重庆的验证码 2016-6-21 lgw */
.box_short{ float:left; width:194px; height:44px; background:url(../images/input_text_bg_short.png) no-repeat left top; text-align:center; position:relative;}
.box_short .close{position:absolute; right:20px; top:8px; background:url(../images/close.png) no-repeat left top; _background:url(../images/close_ie6.jpg) no-repeat left top; width:28px; height:28px;}
.box_short .text{ width:154px; height:34px; line-height:34px; margin-top:2px; text-align:left; background:transparent; border:0; color:#333; font-family:"微软雅黑";}
.btn_short_code{ float:left; width:194px; height:45px; line-height:45px; margin-left:10px; cursor:pointer; background-color:#FFF;}

.copyright_v2{color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; padding-top:00px; height:30px; line-height:30px;}
/* 增加校验码 2016-6-13  lgw added end */