@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑", "宋体"; color:#333333;; background:#e8e8e8;}

ul,li,dt,dd,dl,h1,h2,h3,h4,h5,h6,p,form{padding:0; margin:0; list-style:none;}

a{color:#333; text-decoration:none; background-color: transparent;}
a:hover{color:#ec0018; outline: 0;}
a:active{outline: 0;}

input,select{outline:none;}
img{border:0;}

.cursor{cursor:pointer;}

/*留空字符*/
.space1{ display:inline-block; *zoom:1; *display:inline; width:1px; height:16px;}
.space2{ display:inline-block; *zoom:1; *display:inline; width:2px; height:16px;}
.space3{ display:inline-block; *zoom:1; *display:inline; width:3px; height:16px;}
.space4{ display:inline-block; *zoom:1; *display:inline; width:4px; height:16px;}
.space5{ display:inline-block; *zoom:1; *display:inline; width:5px; height:16px;}
.space6{ display:inline-block; *zoom:1; *display:inline; width:6px; height:16px;}
.space6{ *float:left;*width:6px;*height:8px;}
.space7{ display:inline-block; *zoom:1; *display:inline; width:7px; height:16px;}
.space8{ display:inline-block; *zoom:1; *display:inline; width:8px; height:16px;}
.space9{ display:inline-block; *zoom:1; *display:inline; width:9px; height:16px;}
.space10{ display:inline-block; *zoom:1; *display:inline; width:10px; height:16px;}
.space11{ display:inline-block; *zoom:1; *display:inline; width:11px; height:16px;}
.space12{ display:inline-block; *zoom:1; *display:inline; width:12px; height:16px;}
.space16{ display:inline-block; *zoom:1; *display:inline; width:16px; height:16px;}
.space17{ display:inline-block; *zoom:1; *display:inline; width:17px; height:16px;}
.space18{ display:inline-block; *zoom:1; *display:inline; width:18px; height:16px;}
.space24{ display:inline-block; *zoom:1; *display:inline; width:24px; height:16px;}
.space36{ display:inline-block; *zoom:1; *display:inline; width:36px; height:16px;}

/* 头部	2015-6-18 lgw	 */
.top_new{background:#ede5d6; height:80px; margin:0 auto; min-width:1000px;}
.top_bg{width:100%; height:80px; background:#dbcaac;}
.top_content{width:1000px; position:relative;margin:0 auto; font-family:"微软雅黑";}
.top_info{height:30px; line-height:30px; width:450px; position:absolute; top:0px; left:480px;  text-align:left; z-index:10;}
.top_info span{color: #ababab;}
.top_info a.code_exit{float:right; background:url(../images/code_exit.png) no-repeat left top;position:absolute;top:0px; left:435px; padding-left:30px; width:55px; height:24px; line-height:24px; margin-top:3px;}
.top_info a.tip .hall_name { width:430px; height:30px; overflow:hidden;}
.seat{float:right; color:#FFF; width:100px; height:31px; line-height:26px;position:absolute; top:42px; left:900px;}
.top_title{float:left; padding:2px 3px 0px 0px; width:96px; height:44px; line-height:44px; text-align:center; }
.top_title a{display:block; }
.top_title a:hover{color:#FFF; background:url(../images/tab_current.png) no-repeat left bottom; }
.top_title a.current{color:#FFF; background:url(../images/tab_current.png) no-repeat left bottom; }
.crumb{float:right; font-weight:normal; text-align:center; margin-right:0px; padding:6px 0px 0px 0px; height:26px; line-height:26px; text-align:right;}

/* 主要版面 2015-6-19 lg w*/
.show{width:1000px; height:auto; min-height:400px; margin:0 auto; margin-top:10px; background:#FFF; border-top:2px solid #e60017;}
.info{width:1000px; margin:0 auto;}
 
/* 内容信息 */
.detail{width:936px; height:auto; margin:0 auto; border:1px solid #e7e7e7; background:#f8f8f8; }
.detail_white{width:936px; height:auto; margin:0 auto; border:0px solid #e7e7e7; }
.list{padding:4px 0px 0px 0px; width:874px; height:26px; margin:0 auto; vertical-align:central; }
.list_padding_zero{padding:0px 0px 0px 0px; width:874px; height:26px; margin:0 auto; vertical-align:central; }
.list_small{width:874px; height:13x; margin:0 auto; vertical-align:central;}
.list_white{ padding:4px 0px 4px 0px; width:910px; height:26px; margin:0 auto; vertical-align:central;}
.list_title{height:30px; line-height:30px; font-weight:bold; font-family:"宋体"; }
.left{width:50%; float:left;height:26px;line-height:26px;}
.left_lable{float:left; }
.left_lable select{border:1px solid #d9d9d9; min-width:200px; height:28px; line-height:28px;  text-indent:3px;  _text-indent:0px;margin-right:4px;}
.left_lable_bg {width:70px; text-align:center; background-color:#f0f0f0; border:1px solid #e7e7e7; border-right:none;}
.left_data{float:left;}
.left_data input {padding-left:4px; margin-right:4px; border:1px solid #e7e7e7; height:24px; line-height:24px; min-width:200px;}
.left_radio{float:left;}
.left_radio input{padding-left:4px; margin-right:4px; height:24px; line-height:24px;}
.right{width:50%; float:right;height:26px;line-height:26px; }
.right_data{float:right;}
.tb_label{width:60px; height:28px; background-color:#f0f0f0; border:1px solid #c9c9c9; text-align:center;}
.tb_data{width:110px; height:28px; background-color:white; border:1px solid #c9c9c9; padding-left:10px;}
.fee_confirm_div{width:350px; height:60px; padding:5px 10px; background-color:white; border:1px solid#c9c9c9;}
.left_data_dashed{ float:right; width:1px; height:26px; line-height:26px; margin-right:10px; border-right:1px dashed #ccc;}

.list_padding_paylog{padding:4px 0px 0px 0px; width:936px; height:26px; margin:0 auto; vertical-align:central; }

/* 表格信息 */
.table_title{width:874px; margin:0 auto; padding:5px 0; font-weight:bold;}
.table_infos{width:874px; margin:0 auto;}
.table_infos th{height:28px; border:1px #cccccc solid; background-color:#e6e6e6;}
.table_infos td{height:28px; border:1px #cccccc solid; background-color:white; padding-left:5px;}
.table_optional tbody tr.active td{background-color:#f5f5f5;}
.table_optional tbody tr:hover td{background-color:#f5f5f5; cursor:pointer;}
.table_optional tbody tr:hover td input[type="radio"], .table_optional tbody tr:hover td input[type="checkbox"]{cursor:pointer;}

.table_infos_paylog{width:936px; margin:0 auto;}
.table_infos_paylog th{height:28px; border:1px #cccccc solid; background-color:#e6e6e6;}
.table_infos_paylog td{height:28px; border:1px #cccccc solid; background-color:white; padding-left:5px;}

/* lgw 2016-5-11 */
.left_lable_quarter select {float:left;border:1px solid #d9d9d9; width:150px; height:28px; line-height:28px;  text-indent:3px;  _text-indent:0px;margin-right:4px;}
.left_data_quarter input {float:left;width:150px;padding-left:4px; margin-right:4px; border:1px solid #e7e7e7; height:24px; line-height:24px; }
.left_data_w130 input {float:left;width:130px;padding-left:4px; margin-right:4px; border:1px solid #e7e7e7; height:24px; line-height:24px; }

/* 内容的标题*/
.title{width:936px; font-weight:bold; font-family:"宋体"; padding: 5px 0px; margin:0 auto;}
.title span{color:#e50000; font-weight:bold; padding-right:6px;}
.title a{float:right; font-weight:normal; display:inline-block; padding-right:12px; background:url(../images/show_arrow.png) no-repeat right 0; _background:url(../images/show_arrow_white.png) no-repeat right 0; margin-top:10px; color:#333;}
.title a.down{background:url(../images/show_arrow.png) no-repeat right -24px; _background:url(../images/show_arrow_white.png) no-repeat right -24px;}

/*	tab选项卡 */
.title_tab {float:left; }
.title_tab span{float:left;color:#e50000; font-weight:bold; padding-right:4px;}
.title_tab .tab_menu {float:left; border-radius:4px 4px 0 0; display:inline-block;padding-right:4px; width:63px; height:30px; line-height:30px; color:#FFF; text-align:center;}
.title_tab .tab_menu a{display:inline-block; border-radius:4px 4px 0 0; display:inline-block; background:url(../images/tab_menu.png) no-repeat left top; width:63px; height:30px; line-height:30px;  text-align:center;}
.title_tab .tab_menu a:hover{color:#FFF; background:url(../images/tab_menu_current.png) no-repeat left top;}
.title_tab .tab_menu a.current{color:#FFF; background:url(../images/tab_menu_current.png) no-repeat left top; }
.title_tab .tab_menu_long {float:left; border-radius:4px 4px 0 0; display:inline-block;padding-right:4px; width:96px; height:30px; line-height:30px; color:#FFF; text-align:center;}
.title_tab .tab_menu_long a{display:inline-block; border-radius:4px 4px 0 0; display:inline-block; background:url(../images/tab_menu_long.png) no-repeat left top; width:96px; height:30px; line-height:30px;  text-align:center;}
.title_tab .tab_menu_long a:hover{color:#FFF; background:url(../images/tab_menu_long_current.png) no-repeat left top;}
.title_tab .tab_menu_long a.current{color:#FFF; background:url(../images/tab_menu_long_current.png) no-repeat left top; }


/* 输入框 */
.input_text{border:1px solid #d9d9d9; width:auto; min-width:100px; height:24px; line-height:24px; text-indent:8px; _text-indent:0px;margin-right:4px;}
.border_red{ border:1px solid #e60017;}
.date{background:#FFF url(../images/ico_date.jpg) no-repeat right center;}

.search_input{float:left;padding-left:20px; display:inline-block; margin-right:4px; border:1px solid #e60017; height:40px; line-height:40px;min-width:580px; width:580px;background:url(../images/search.jpg) no-repeat left center; background-color:#FFF;}
.search_button {display:inline-block; background:url(../images/msgbox_ok.png) no-repeat left top; width:140px; height:40px; line-height:40px; color:#FFF; text-align:center;}
.search_button:hover{background:url(../images/msgbox_ok.png) no-repeat left bottom;}

/* 2016-2-16 */
a.search{display:block; background:url(../images/search.png) no-repeat left top; padding-left:32px; padding-top:6px; width:35px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";cursor:pointer;}
a.search:hover{background:url(../images/search.png) no-repeat left bottom;color:#FFF;}
a.search_disabled{display:block; background:url(../images/search_disabled.png) no-repeat left top; background-size:67px 30px; padding-left:32px; padding-top:6px; width:35px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体"; cursor:default;}
a.search_no_circle{display:block; background:url(../images/search_no_circle.png) no-repeat left top; padding-left:16px;padding-right:16px; padding-top:6px; width:35px; color:#333; height:24px; line-height:20px; text-align:center; font-size:12px; font-family:"宋体";}
a.search_no_circle:hover{background:url(../images/search_no_circle.png) no-repeat left bottom;color:#FFF;}
.order_row{display:block; width:890px;height:30px;line-height:30px; text-align:center; background-color:#e6e6e6;border-right:1px #dcdcdc solid;border-bottom:1px #dcdcdc solid;}
.order_row_paylog{display:block; width:936px;height:30px;line-height:30px; text-align:center; background-color:#e6e6e6;border-right:1px #dcdcdc solid;border-bottom:1px #dcdcdc solid;}
.order_cell{float:left;width:133px;height:28px; line-height:28px;border-left:1px #dcdcdc solid;border-top:1px #dcdcdc solid;}
.order_cell_charge{float:left;width:110px;height:28px; line-height:28px;border-left:1px #dcdcdc solid;border-top:1px #dcdcdc solid;}
.order_cell_paylog{float:left;width:103px;height:28px; line-height:28px;border-left:1px #dcdcdc solid;border-top:1px #dcdcdc solid; position: relative;}
/* 新增、修改、删除按钮 2016-7-5*/
.btn_add{display:block; background:url(../images/button_add.png) no-repeat left top; padding-left:32px; padding-top:6px; width:38px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";cursor:pointer;}
.btn_add:hover{background:url(../images/button_add.png) no-repeat left bottom;color:#FFF;}
.btn_edit{display:block; background:url(../images/button_edit.png) no-repeat left top; padding-left:32px; padding-top:6px; width:38px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";cursor:pointer;}
.btn_edit:hover{background:url(../images/button_edit.png) no-repeat left bottom;color:#FFF;}
.btn_del{display:block; background:url(../images/button_delete.png) no-repeat left top; padding-left:32px; padding-top:6px; width:38px; color:#FFF; height:24px; line-height:20px; font-size:12px; font-family:"宋体";cursor:pointer;}
.btn_del:hover{background:url(../images/button_delete.png) no-repeat left bottom;color:#FFF;}

.btn_check{ float:left; width:20px; height:26px; line-height:26px; margin-right:3px; cursor:pointer; background:url(../images/check.png) no-repeat center center;background-size:20px 20px;}
.btn_checked{ float:left; width:20px; height:26px; line-height:26px; margin-right:3px; cursor:pointer; background:url(../images/checked.png) no-repeat center center;background-size:20px 20px;}

.input_text_gray{ outline:none; border:1px solid #f5f5f5; background:#f5f5f5; border:1px solid #d9d9d9; width:440px; min-width:80px; height:auto; min-height:72px; _min-height:72px; line-height:24px; text-indent:8px; _text-indent:0px;margin:0px 20px;}

/* 通用按钮 很少用 */
.button_able{width:auto; margin-right:4px;display:inline-block; height:26px; min-width:80px; line-height:26px; border:1px solid #e60017; border-radius:4px; color:#fff; background-color:#e60017; text-align:center;}
.button_able:hover {display:inline-block; background-color:#ff1129;border:1px solid #ff1129; color:#fff;}
.button_disabled{width:auto; margin-right:4px;height:26px; min-width:80px; line-height:26px; border:1px solid #999; border-radius:4px; background-color:#999; color:#fff;text-align:center;}
/** 背景为图片形式，主要用这个,在IE6下有圆角 **/
.input_button {display:inline-block;_float:left; *float:left; margin-left:4px; background:url(../images/view_btn.png) no-repeat left top; width:77px; min-width:77px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:pointer;}
.input_button:hover{background:url(../images/view_btn.png) no-repeat left bottom;}
.input_button_disabled{display:inline-block;_float:left; *float:left; margin-left:4px; background:url(../images/btn_disabled.png) no-repeat left top; width:77px; height:26px; line-height:26px; text-align:center; color:#FFF; cursor:default;}
.input_button_long {display:inline-block; _float:left; *float:left; margin-left:4px; background:url(../images/view_btn_long.png) no-repeat left top; width:154px; min-width:154px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:pointer;}
.input_button_long_disabled {display:inline-block; _float:left; *float:left; margin-left:4px; background:url(../images/view_btn_long_disabled.png) no-repeat left top; width:154px; min-width:154px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:default;}
.input_button_long:hover{background:url(../images/view_btn_long.png) no-repeat left bottom;}
.input_button_small {display:inline-block;_float:left; *float:left; margin-top:3px; margin-left:4px; background:url(../images/view_small.png) no-repeat left top; width:57px; min-width:57px; height:20px; line-height:20px; color:#FFF; text-align:center; cursor:pointer;}
.input_button_small_disabled {display:inline-block;_float:left; *float:left; margin-top:3px; margin-left:4px; background:url(../images/view_small_disabled.png) no-repeat left top; width:57px; min-width:57px; height:20px; line-height:20px; color:#FFF; text-align:center; cursor:default;}
.input_button_small:hover{background:url(../images/view_small.png) no-repeat left bottom;}
.radio_button_checked {display:inline-block; _float:left; *float:left; margin-left:4px; background:url(../images/view_btn.png) no-repeat left top; width:77px; min-width:77px; height:26px; line-height:26px; color:#FFF; text-align:center; cursor:pointer;}
.radio_button_unchecked{display:inline-block; margin-left:4px; background:url(../images/btn_disabled.png) no-repeat left top; width:77px; height:26px; line-height:26px; text-align:center; color:#FFF; cursor:pointer;}
.radio_button_unchecked:hover{background:url(../images/view_btn.png) no-repeat left top;}

.delete_icon{background:url(../images/close_icon.png) no-repeat left center; background-size:14px 14px; _background:url(../images/close_icon.png) no-repeat right center; padding-left:20px; height:22px; line-height:22px; color:#e60017;}

/* 较大的按钮 2016-6-22 */
.button_ok{ margin:0 auto; width:130px; height:40px; line-height:40px; color:#FFF; font-size:20px; text-align:center; cursor:pointer; background:url(../images/button_ok.png) no-repeat left top;}
.button_cancel{ margin:0 auto;width:130px; height:40px; line-height:40px; color:#333333; font-size:20px;text-align:center; cursor:pointer; background:url(../images/button_cancel.png) no-repeat left top;}
.button_cancel:hover{background:url(../images/button_ok.png) no-repeat left bottom;color:#FFF;}

/*白底黑字按钮 2016-8-2 变更业务 */
a.btn_white{ float:left; display:block; margin-right:3px; background:url(../images/btn_white.png) no-repeat left top; text-align:center; width:70px; color:#333; height:30px; line-height:30px; font-size:12px; font-family:"宋体";cursor:pointer;}
a.btn_white:hover{background:url(../images/btn_white_cur.png) no-repeat left bottom;color:#FFF;}
a.btn_white_cur{ float:left; display:block; margin-right:3px; background:url(../images/btn_white_cur.png) no-repeat left top; text-align:center; width:70px; color:#FFF; height:30px; line-height:30px; font-size:12px; font-family:"宋体";cursor:pointer;}
a.btn_white_long{ float:left; display:block; margin-right:3px; background:url(../images/btn_white_long.png) no-repeat left top; text-align:center; width:112px; color:#333; height:30px; line-height:30px; font-size:12px; font-family:"宋体";cursor:pointer;}
a.btn_white_long:hover{background:url(../images/btn_white_long_cur.png) no-repeat left bottom;color:#FFF;}
a.btn_white_long_cur{ float:left; display:block; margin-right:3px; background:url(../images/btn_white_long_cur.png) no-repeat left top; text-align:center; width:112px; color:#FFF; height:30px; line-height:30px; font-size:12px; font-family:"宋体";cursor:pointer;}
/* 白底黑框按钮 2016-9-12 资费之公众和集团选择 */
a.btn_black{ float:left; display:block;min-width:30px; height:26px; line-height:26px; color:#333; border:1px solid #333; margin-right:3px; padding:0px 20px; background-color:#FFF; text-align:center;  font-size:12px; font-family:"宋体";cursor:pointer;}
a.btn_black_cur{ float:left; display:block;min-width:30px; height:26px; line-height:26px; color:#333; border:1px solid #F00; margin-right:3px; padding:0px 20px; background-color:#FFF; text-align:center;  font-size:12px; font-family:"宋体";cursor:pointer;}
a.btn_black:hover,a.btn_black_cur:hover{ color:#333;border:1px solid #F00;}

/* 红底白字的按钮型 div 2016-6-23 */
.button_data{ display:inline-block; cursor:pointer;}
.button_data_left{ float:left; width:6px; height:24px; background:url(../images/button_data_left.png) no-repeat left top;_margin-right:-6px;}
.button_data_txt{ height:24px; line-height:24px; margin:0px 6px; font-family:"宋体"; text-align:center; color:#FFF; background:url(../images/button_data_bg.png) repeat center center;}
.button_data_right{ float:right; width:6px; height:24px; background:url(../images/button_data_right.png) no-repeat right top;_margin-left:-6px;}
/* 红色宽竖线 2016-6-23 */
.red_band_line{ width:2px; height:14px; margin:4px 10px 0px 0px; background-color:#F00;}

/*	中间大按钮	*/
.band_dashed{clear:both; border-top:1px dashed #e7e7e7; background:#f8f8f8;  border-bottom:1px dashed #e7e7e7; text-align:center; padding:15px 0;}
.ok{height:41px; text-align:center; margin:0 auto;width:194px;}
.ok_disabled{height:41px; text-align:center;margin:0 auto;}
.ok a{background:url(../images/ok_big.png) no-repeat left top; width:194px; height:41px; line-height:41px; color:#FFF; font-weight:bold; text-align:center; display:inline-block;}
.ok_disabled a{background:url(../images/ok_big_disabled.png) no-repeat left top; width:194px; height:41px; line-height:41px; color:#FFF; font-weight:bold; text-align:center; display:inline-block; cursor:default;}
.ok a:hover{background:url(../images/ok_big.png) no-repeat left bottom;color:#FFF;}

/* 滑动式按钮 2016-8-25 比如变更业务的停开机 */
.switch_left{ width:106px; height:24px; line-height:24px; padding-right:5px;border:1px solid #CCC; text-align:right;background:url(../images/stop_open.png) no-repeat left center; background-size:52px 22px; background-position:1px 1px; background-color:#FFF; cursor:pointer;}
.switch_right{ width:106px; height:24px; line-height:24px; padding-left:5px;border:1px solid #CCC; text-align:left;background:url(../images/stop_open.png) no-repeat right center; background-size:52px 22px; background-position:58px 1px; background-color:#FFF; cursor:pointer;}
.switch_clicked{ border:1px solid #F00; color:#FFF; background-color:#F00;}

/* 单选按钮或者不选中按钮 */
.radio{ float:left;width:30px; height:26px;background:url(../images/radio.png) no-repeat center center; cursor:pointer;_background:url(../images/radio_ie6.png) no-repeat center center;}
.radio_checked{ float:left;width:30px; height:26px;background:url(../images/radio_checked.png) no-repeat center center;cursor:pointer;_background:url(../images/radio_checked_ie6.png) no-repeat center center;}
.select_delete{ float:left;width:30px; height:26px;background:url(../images/unselect.png) no-repeat center center; cursor:pointer;_background:url(../images/unselect_ie6.png) no-repeat center center;}
.radio_checked_black{ float:left;width:30px; height:26px;background:url(../images/radio_checked_black.png) no-repeat center center;cursor:pointer;_background:url(../images/radio_checked_ie6.png) no-repeat center center;}

/* 带圆圈的数字 2016-8-30 */
.circle_number{ float:left; margin:3px 4px 0px 0px; width:20px; height:20px;line-height:20px; color:#333;background-color:#fff; font-size:18px; text-align:center; border:1px solid #CCC; border-radius:10px;}
.circle_number_bg{ float:left; width:20px; height:20px; margin-right:4px; text-align:center; background:url(../images/circle_number_bg.png) no-repeat center center;}

/*	留白* 清除浮动	*/
.clear{clear:both; height:0; width:100%;font-size:0;display:block; overflow:hidden;}
.top_blank{ display:block; width:100%; height:67px; clear:both;font-size:0;}
.bottom_blank{ display:block; width:100%; height:76px; clear:both;font-size:0;}
.padding_blank{ display:block; width:100%; height:30px; clear:both;font-size:0;}
.padding_blank10{ display:block; width:100%; height:10px; clear:both;font-size:0;}
.padding_blank01{ display:block; width:100%; height:1px; clear:both;font-size:0;}

/* 虚线 */
.line_dashed{display:block;border-top:1px dashed #CCC;height:1px;width:100%; }
.line_dashed_h{height:13px; width:874px; margin:0 auto; background:url(../images/line.png) repeat-x left center; overflow:hidden; }
.line_dashed_v{border-right:1px dashed #CCC;}
.line_red_top{border-top:1px solid #e60017;margin-top:-2px;*margin-top:1px; font-size:0; margin:0 auto; width:936px;}
.left_data_dashed{ float:right; width:1px; height:26px; line-height:26px; margin-right:10px; border-right:1px dashed #ccc;}

/* 位置 */
.text_left{text-align:left;}
.text_center{text-align:center;}
.text_right{text-align:right;}
.margin_top_1{margin-top:10px;}
.margin_left_1{margin-left:10px;}
.margin_right_7{margin-right:70px;}
.padding_top_1{padding-top:10px;}

/* 宽度 */
.width_8{width:80px!important;}
.width_10{width:100px!important;}
.width_12{width:120px!important;}
.width_12_8{width:128px!important;}
.width_15{width:150px!important;}
.width_18{width:180px!important;}
.width_20{width:200px!important;}
.width_21{width:210px!important;}
.width_21_2{width:212px!important;}
.width_25{width:250px!important; _width:235px;}
.width_26 {width:260px!important;}
.width_32{width:320px!important; _width:320px;}
.width_35 {width:350px!important;}
.width_87_4{width:874px!important;}

/* 高度 */
.height_2_0{height:20px!important;}
.height_17{height:170px!important;}
.height_18{height:180px!important;}

/* poptip */
.tip {position:relative; *position:static;}
.tip:link {text-decoration:none;color:#333;display:block}
.tip:hover {text-decoration:none;color:#e60017;display:block}
.tip span {display:none;}
.tip .ang_y{position:absolute; display:none;top:14px; _top:18px; left:50px;color:#ccc;font:10px sans-serif;}/*模拟小三角*/ 
.tip .ang_z{position:absolute; display:none;top:16px; _top:20px;left:50px;color:#FFF;font:10px sans-serif;}
.tip:hover .tip_info {display:block;position:relative; top:5px; background:#FFF;left:20px;color:#333;	border:1px solid #ccc;	padding:10px; border-radius:5px;	box-shadow:1px 1px 2px rgba(0,0,0,.2);-moz-border-radius:5px;	-webkit-border-radius:5px;	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.2);-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.2);}
.tip:hover .tip_info span{display:block;}
.tip:hover .ang_y{display:block;}
.tip:hover .ang_z{display:block;}

/* 弹出窗口 */
.bg_mask {margin:0 auto;position: fixed; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; background-color: #000; display:none; } 
*html { background: url(*) fixed;} 
*html body { margin: 0; height: 100%; } 
/*IE6*/ 
*html .bg_mask {position: absolute;left: expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth); top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight); } 
.bg_mask_iframe{margin:0 auto; display:none;_display:block;position:absolute;z-index:-1;filter:mask();width:100%;height:100%; 	} 

/* 弹出窗体 */
/*.pop_win { display: none; position:relative; top: -60%; left: -30%;   margin-left:60%; margin-top:-160%; width: 492px; height: auto; border: 1px solid #FFF; border-bottom: none; background-color: white; z-index: 1002; overflow: hidden;*/
.pop_win {display: none; position: fixed;_position:absolute;  left:35%;top:10%;_top: expression((document.documentElement.scrollTop || document.body.scrollTop) - 110 + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px"); width: 492px; height: auto; border: 1px solid #FFF; border-bottom: none; background-color: white; z-index: 1002; overflow: hidden;}

.pop_win_23to4 {display: none; position: fixed;_position:absolute; margin-left:-482px; left:50%;top:10%;_top: expression((document.documentElement.scrollTop || document.body.scrollTop) - 110 + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px"); width: 963px; height: auto; border: 1px solid #FFF; border-bottom: none; background-color: white; z-index: 1002; overflow: hidden;} 
/** 弹出窗口通用属性定义 **/
.msgbox{margin:0 auto; width:auto; max-width:936px;min-height:200px; background:#FFF; position:relative; padding:0px;}
.msgbox_23to4{margin:0 auto; width:auto; max-width:936px;min-height:150px; background:#FFF; position:relative; padding:0px;}
.msgbox_close{height:18px; width:18px; position:absolute; right:0px; top:0px; background:url(../images/close_icon.png) no-repeat left top; cursor:pointer;}
.msgbox ul {padding:20px 0px 20px 0px; *padding:0px 0px 0px 0px;}
.msgbox ul li {padding-left:20px;height:26px; line-height:26px;}
.msgbox ul .center{width:166px; _width:166px; text-align:center; margin:0 auto; }
.msgbox .center_one{text-align:center; margin:0 auto; width:77px; height:44px; line-height:44px;}
.msgbox .msg{ padding:20px 20px;}
.msgbox .scroll_v{height:200px; width:450px; overflow:auto;overflow-x:hidden; padding-right:30px;}
/** loading加载遮罩层css pop_win 基础上增加以下属性 **/ 
.pop_win_loading {filter: alpha(opacity=40); opacity: 0.4; } 

/* 有遮盖层的loading */
.loading_gif{display:none;margin:0 auto;  position: fixed;_position:absolute;left:50%;top:50%;width:114px;height:48px; line-height:48px; margin-left:-56px; padding-top:68px;text-align:center;  background:url(../images/loading_custom.gif) no-repeat center center;z-index:1002;}

/* 版权 */
.copyright{color:#999; font-family:Arial, Helvetica, sans-serif; text-align:center; height:36px; line-height:36px;}

/*字体定，默认为12 义*/
.font_song{font-family:"宋体";}
.text_normal{ font-size:12px;}
.text_big{ font-size:14px;}
.text_large{ font-size:16px;}
.text_large18{ font-size:18px;}
.text_large24{ font-size:24px;}
.bold{ font-weight:bold;}
.text_center{text-align:center!important;}

/* 颜色 */
.red{ color:#e60017;}
.white{color:#FFF;}
.white_bgcolor{ background-color:#ffffff;}
.red_bgcolor{ background-color:#e60017; color:#fff;}
.deepred_bgcolor{ background-color:#9a0000; color:#fff;}
.yellow_bgcolor{ background-color:#f8f9cd;}
.gray_bgcolor{ background-color:#eaeaea;}
.gray_bgcolor_f8{ background-color:#f8f8f8;}
.gray333{ color:#333;}
.gray666{ color:#666;}
.gray999{ color:#999;}
.noborder{ border:0px;}
.padding_no_r{ padding-right:0px!important;}
.padding_no_l{ padding-left:0px!important;}
.padding_no_t{ padding-top:0px!important;}
.padding_no_b{ padding-bottom:0px!important;}
.padding_no_all{padding:0px!important 0px!important;}
.nomargin{ margin:0px 0px;}

/* 左右浮动 2015-12-21 lgw */
.float_left{ float:left; *float:left;}
.float_right{ float:right; *float:right;}
.float_middle{ margin:0 auto; text-align:center;}
