/* 查询条件 */
.more_condition{margin-top:5px; text-align:center; border-top:1px solid #ddd; -webkit-transition:border-color .15s ease-in-out; -moz-transition:border-color .15s ease-in-out; transition:border-color .15s ease-in-out;}
.more_condition:hover{border-color:#f2594b;}
.more_condition:hover .more_condition_btn{color:#d94032; border-color:#fff #f2594b #f2594b;}
.more_condition .more_condition_btn{line-height:28px; margin-top:-1px; padding:0 20px; display:inline-block; *zoom:1; *display:inline; border-width:1px; border-style:solid; border-color:#fff #ddd #ddd; cursor:pointer; -webkit-transition:border-color .15s ease-in-out; -moz-transition:border-color .15s ease-in-out; transition:border-color .15s ease-in-out;}
.more_condition .more_condition_btn i{font-style:normal;}

/* 订单列表 */
.info_list{width:100%; margin:0; border:0; border-spacing:0; border-collapse:collapse;}
.info_list th{line-height:40px; color:#fff; font-size:14px; border:1px solid #ddd; background-color:#26a69a;}
.info_list td{padding:5px; border:1px solid #ddd; white-space:normal;}
.info_list td.link:hover{color:#d94032; cursor:pointer;}

/* 模态框 */
.modal_box .modal_middle .option_box{display:block; border:none;}
.modal_box .modal_middle .option_box span{display:inline-block; *zoom:1; *display:inline;}
