/* common */
.bg{background:#ffa726;}
.padding10{padding:0 10px;}
.cursor{cursor:pointer}

.box-shadow{box-shadow:-3px -3px 10px 0px #dcdcdc;-moz-box-shadow:-3px -3px 10px 0px #dcdcdc;-webkit-box-shadow:-3px -3px 10px 0px #dcdcdc;-o-box-shadow:-3px -3px 10px 0px #dcdcdc;}
.box{position:fixed;bottom:0;right:0;margin:10px;width:300px;+width:280px;border-radius:4px;border-radius:4px;box-shadow:3px 3px 10px #dcdcdc;-webkit-box-shadow:3px 3px 10px #dcdcdc;-moz-box-shadow:3px 3px 10px #dcdcdc;-o-box-shadow:3px 3px 10px #dcdcdc;}
.top{width:100%;height:25px;line-height:25px;}
.top i{display:inline-block;width:20px;height:20px;margin-top:-2%;+margin-top:-1%;background:url(../images/systemInfo.png) no-repeat;vertical-align:middle;background-size:100%;}
.top span{display:inline-block;}
.top .info{width:80%;font-size:14px;margin-left:10px;}
.top .cancel{width:11px;height:11px;background:url(../images/cancel.png) no-repeat;}
.middle{width:100%;background:#fff;padding:25px 10px;}
.title{font-size:16px;text-align:center;}
.dear,.content{font-size:12px;margin-top:5px;}
.content{margin-left:20%;}
.bottom{width:100%;height:50px;}





