.operate_bar{padding:15px 10px 0 10px;}
.operate_bar .whole_refresh i{width:16px; *width:18px; height:16px; *height:18px; margin-right:5px; display:inline-block; *zoom:1; *display:inline; vertical-align:middle; background-image:url("../images/icon/refresh.png"); background-repeat:no-repeat; background-position:center center; background-size:100% 100%;}
.operate_bar .whole_refresh span{vertical-align:middle;}

.task_card{padding:5px 0;}
.card_item{width:32%; min-width:265px; min-height:60px; margin:5px 0 0 10px; padding-bottom:6px; border-radius:2px; background-color:#eee; display:inline-block; *zoom:1; *display:inline; vertical-align:top;}
.card_item .card_head{height:40px; padding:10px; color:#fff; border-radius:4px 4px 0 0; white-space:nowrap;*height:20px;}
.card_item .card_head .search_icon{width:18px; *width:20px; height:18px; *height:20px; margin:2px 0 0 5px; float:left; background-image:url("../images/icon/search.png"); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; cursor:pointer;}
.card_item .card_head .search_icon:hover{background-image:url("../images/icon/search_active.png");}
.card_item .card_head .refresh_icon{width:16px; *width:18px; height:16px; *height:18px; margin-right:5px; float:right; background-image:url("../images/icon/refresh.png"); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; cursor:pointer;}
.card_item .card_head .refresh_icon:hover{background-image:url("../images/icon/refresh_active.png");}
.card_item .card_head .btn_right{margin-right:5px; padding:0 2px; font-size:14px; border:1px solid #fff; border-radius:2px; float:right; cursor:pointer;}
.card_item .card_head .btn_right:hover{color:#ddd; border-color:#ddd;}
.card_item .card_body{margin:10px; font-size:14px;}
.card_item .card_body .issue{line-height:25px; margin-bottom:10px; padding:5px 10px; border-radius:2px; background:#fff; cursor:default; overflow:hidden;}
.card_item .card_body .issue:hover{-moz-box-shadow:0 5px 10px #ddd; -webkit-box-shadow:0 5px 10px #ddd; box-shadow:0 5px 10px #ddd;}
.card_item .card_body .issue div[issue=operate]{width:20px; height:20px; margin-top:3px; display:inline-block; *zoom:1; *display:inline; vertical-align:top; cursor:pointer; background-image:url("../images/icon/select_circle.png"); background-repeat:no-repeat; background-position:center center;}
.card_item .card_body .issue div[issue=operate]:hover{background-image:url("../images/icon/select_circle_active.png");}
.card_item .card_body .issue div[issue=operate].active{background-image:url("../images/icon/selected_circle.png");}
.card_item .card_body .issue div[issue=operate].active:hover{background-image:url("../images/icon/selected_circle_active.png");}
/* .card_item .card_body .issue div[issue=operate] .operate_list{width:100px; line-height:30px; padding:5px; position:relative; top:20px; z-index:2; display:none; cursor:pointer; text-align:center; border:none; border-radius:4px; background:#fff; -moz-box-shadow:0 10px 20px rgba(39,27,27,0.1); -webkit-box-shadow:0 10px 20px rgba(39,27,27,0.1); box-shadow:0 10px 20px rgba(39,27,27,0.1);}
.card_item .card_body .issue div[issue=operate] .operate_list div{border-radius:2px;}
.card_item .card_body .issue div[issue=operate] .operate_list div:hover{background:#f2f2f2;}
.card_item .card_body .issue div[issue=operate] .operate_list div i{width:20px; height:20px; margin:5px 0 0 5px; float:left; display:inline; border:2px solid #b3b3b3; -webkit-border-radius:200px; -moz-border-radius:200px; border-radius:200px;} */
.card_item .card_body .issue div[issue=flag]{float:right; font-size:16px; font-weight:bold;}
.card_item .card_body .issue div[issue=title]{line-height:20px; font-size:12px; display:inline-block; *zoom:1; *display:inline; vertical-align:top; cursor:pointer;}
.card_item .card_body .issue div[issue=sup_info]{font-size:smaller; white-space:nowrap;}
.card_item .card_body .issue div[issue=sup_info] .times{margin-right:5px; display:inline-block; *zoom:1; *display:inline;}
.card_item .card_foot{width:100%; padding:10px; font-size:14px; color:#666; white-space:nowrap;*width:auto;}
.card_item .card_foot .more_issues{display:inline; float:right; cursor:pointer;}
.card_item .card_foot .count_issues{margin-right:5px; display:inline;}

.card_timein_head{border-color:#2baf2b; background-color:#2baf2b;}
.card_timeout_head{border-color:#ffa726; background-color:#ffa726;}
.card_dept_head{border-color:#26a69a; background-color:#26a69a;}

[color_attr=border_default]{border:1px solid #999;}
[color_attr=border_much]{border:1px solid #2baf2b;}
[color_attr=border_less]{border:1px solid #ffa726;}
[color_attr=border_over]{border:1px solid #f2594b;}
[color_attr=color_default]{color:#999!important;}
[color_attr=color_much]{color:#2baf2b!important;}
[color_attr=color_less]{color:#ffa726!important;}
[color_attr=color_over]{color:#f2594b!important;}
.card_hover:hover{color:#2dafda!important;}

/* 模态框 */
.modal_box{font-size:14px;}
.modal_box .modal_middle p{padding:2px 5px;}
.modal_box .reason_option p{line-height:25px; cursor:pointer;}
.modal_box .reason_option p:hover{background-color:#eee;}
.modal_box .reason_option p.active{color:#2dafda;}
.modal_box .reason_option p i{width:20px; height:20px; margin-top:3px; display:inline-block; *zoom:1; *display:inline; vertical-align:top; cursor:pointer; background-image:url("../images/icon/select_circle.png"); background-repeat:no-repeat; background-position:center center;}
.modal_box .reason_option p:hover i{background-image:url("../images/icon/select_circle_active.png");}
.modal_box .reason_option p.active i{background-image:url("../images/icon/selected_circle_active.png");}
.modal_box .reason_option p span{margin-left:5px;}
.modal_box .reason_other p textarea{max-width:100%; max-height:40px; min-width:100%; min-height:40px;}
