section{padding:15px;}
.order-money{text-align:right; margin:5px 0 20px 0;}
.color-red{color:#EE384F; margin:0 5px;}
/* 二维码支付 */
.qr-code{text-align:center; padding:30px 0;}
/* 条形码支付 */
.bar-inputbox .bar-code{width:65%; height:30px; line-height:30px; padding:0 5px; border:1px solid #888; border-radius:3px;}
.prompt{margin:20px 0;}
.bar-inputbox,.bar-prompt{height:46px; line-height:46px;}
.bar-btn{border-radius:4px; color:#fff; height:46px; line-height:46px; text-align:center;}
.btn-red{background-color:#EE384F;}
/* 支付成功 */
.pay-succ,.pay-false{padding:15px;}
.icon-pay{width:87px; height:87px; background-size:100%;}
.align-center{margin:20px auto; text-align:center;}
.icon-pay-succ{background-image:url("../../images/app/icon-pay-succ.png");}
.icon-pay-false{background-image:url("../../images/app/icon-pay-false.png");}
.btn-green{background-color:#09BA07;}
@media screen and (min-width: 221px) and (max-width: 400px){
.bar-btn,.bar-prompt,.bar-inputbox{height:40px; line-height:40px;}
}
}