<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 本地开发使用 -->
	<context:property-placeholder location="file:D:/tydic/usrspace/UC_Properties/CrawlerProperties.properties" file-encoding="UTF-8"/>

<!-- 	<context:property-placeholder
		location="classpath*:\conf\CrawlerProperties.properties"
		file-encoding="UTF-8" />   -->
 	
	<dubbo:application name="${dubbo.application.name}" />
 	<dubbo:registry address="${dubbo.registry.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" /> 
	<dubbo:provider timeout="${dubbo.provider.timeout}" retries="${dubbo.provider.retries}"></dubbo:provider>
	<import resource="META-INF/spring/applicationContext_crawler.xml"/>
</beans>