<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>uocRest</display-name>
	<!--spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/spring/contextLoaderListener.xml</param-value>
		<load-on-startup>0</load-on-startup>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>ContentTypeFilter</filter-name>
		<filter-class>com.tydic.unicom.crm.web.uss.filter.ContentTypeFilter</filter-class>
	</filter>
	
	<!--springMvc -->
	<servlet>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/springMvc/dispatcherServlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ContentTypeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<listener>  
		<listener-class>com.tydic.unicom.crm.web.uss.listener.LoadRedisListenter</listener-class>
	</listener>
	
	<!-- <servlet-mapping>
		<servlet-name>One9PayPageServCall</servlet-name>
		<url-pattern>/One9PayPageServCall</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>One9PayBackServCall</servlet-name>
		<url-pattern>/One9PayBackServCall</url-pattern>
	</servlet-mapping> -->
	
	
	
	<!-- <servlet-mapping>
		<servlet-name>one9PayPageCallback</servlet-name>
		<url-pattern>/one9PayPageCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>one9PayBackCallback</servlet-name>
		<url-pattern>/one9PayBackCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlipayPageCallback</servlet-name>
		<url-pattern>/AlipayPageCallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlipayBackCallback</servlet-name>
		<url-pattern>/AlipayBackCallback</url-pattern>
	</servlet-mapping> -->
	
	
	<!-- <servlet>
		<description>
		</description>
		<display-name>notify</display-name>
		<servlet-name>notify</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.notify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>notify</servlet-name>
		<url-pattern>/notify.do</url-pattern>
	</servlet-mapping> -->
	<!-- <servlet>
		<description>
		</description>
		<display-name>cs</display-name>
		<servlet-name>cs</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.cs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cs</servlet-name>
		<url-pattern>/cs.jsp</url-pattern>
	</servlet-mapping> -->
	
	
	<!-- <servlet>
		<description>
		</description>
		<display-name>one9PayPageCallback</display-name>
		<servlet-name>one9PayPageCallback</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.one9PayPageCallback</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>one9PayBackCallback</display-name>
		<servlet-name>one9PayBackCallback</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.one9PayBackCallback</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>AlipayPageCallback</display-name>
		<servlet-name>AlipayPageCallback</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.AlipayPageCallback</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AlipayBackCallback</display-name>
		<servlet-name>AlipayBackCallback</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.AlipayBackCallback</servlet-class>
	</servlet> -->
	
	<!--加载memcache
	  <listener>  
		<listener-class>
			com.tydic.unicom.crm.web.uss.listener.LoadMemcacheListener
		</listener-class>
	</listener> -->
	<!--加载应用级缓存application-->
	<!-- <servlet>
		<servlet-name>ApplicationStartListener</servlet-name>
		<servlet-class>
			com.tydic.unicom.crm.web.uss.listener.ApplicationStartListener
		</servlet-class>
		<load-on-startup>99</load-on-startup>
	</servlet> -->
	
	<!-- <servlet>
		<description>
		</description>
		<display-name>One9PayPageServCall</display-name>
		<servlet-name>One9PayPageServCall</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.One9PayPageServCall</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>One9PayBackServCall</display-name>
		<servlet-name>One9PayBackServCall</servlet-name>
		<servlet-class>com.tydic.unicom.crm.web.uss.controller.One9PayBackServCall</servlet-class>
	</servlet> -->
	
	<!-- ======================== 单点登录开始 ======================== -->
	<!-- <listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/authority/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>http://localhost:8080/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/authority/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter
		</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>http://localhost:8080/cas</param-value>
			
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/authority/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.util.HttpServletRequestWrapperFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/authority/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/authority/*</url-pattern>
	</filter-mapping>  -->
	


	<!-- ======================== 单点登录结束 ======================== -->

	<welcome-file-list>
		/index.jsp
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/noauthority/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/noauthority/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/noauthority/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/noauthority/error/error.jsp</location>
	</error-page>

</web-app>