/* common */
/* .fs{font-s */ize:1.8rem;}
.padding10{padding:0 1.5rem;}
i,span{display:inline-block;}

header{height:3.75rem;background:#1b1a1f;}
header i{width:0.9rem;height:1.45rem;margin-top:1.3rem;background:url(../../../images/mobile/oppoCard/fanhui.png) no-repeat;}
header span{width:90%;height:100%;line-height:3.75rem;color:#fff;text-align:center;}

.li-border{border-bottom:1px solid #cdcdcd;}
.m-ul li:nth-last-child{border-bottom:0;}
.m-li{width:100%;color:#323232;background:#ededed;}
.m-left{width:40%;height:100%;text-align:center;line-height:4rem}
.m-right{width:59%;height:100%;background:#fff;line-height:4rem;padding-left:1rem;}
.yellow{color:#e5a800;font-size:1.6rem;text-align:center;}
.left{width:40.5%;height:100%;background:#ededed;text-align:center}
.right{width:59%;height:100%;padding:0.5rem;background:#fff;padding-left:1rem;}
.right span{white-space:normal}

.footer{background:#e6e6e6;height:7rem;width:100%;position:fixed;bottom:0;left:0;}
.shenqing{background:#e60017;border-radius:0.5rem;width:100%;height:5rem;line-height:5rem;position:fixed;bottom:1rem;left:0;color:#fff;text-align:center;}